.login-btn-wrapper{
  margin-top: 3.1rem;
  margin-bottom: 0.75rem;
}

.logocontainer {
  text-align: center;
}

.login-version_no {
  text-align: center;
}

.alert.alert-danger{
  font-weight: 500;
    font-size: 13px;
}

.identity-card .logo {
  margin-left: auto;
  margin-right: auto;
}
