

<div class="d-flex flex-row flex-wrap">
  <app-card class="page-wrapper-tab-card p-body-0 w-16 mr-5" title="Sync Summary">

    <div class="d-flex flex-column px-2 pt-1">
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
    </div>


    <app-card-footer>
      <app-button text="Show All" class="mr-1" icon="far fa-link" type="link"></app-button>
    </app-card-footer>
  </app-card>


  <app-card class="page-wrapper-tab-card p-body-0 w-16 mr-5" title="Sites">

    <div class="d-flex flex-column px-2 pt-1">
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
      <div class="d-flex flex-row">Work In Progress</div>
    </div>


    <app-card-footer>
      <app-button text="Show All" class="mr-1" icon="far fa-link" type="link"></app-button>
    </app-card-footer>
  </app-card>


<app-card class="page-wrapper-tab-card p-body-0 w-16 mr-4" title="Groups">

  <div class="d-flex flex-column px-2 pt-1">
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
    <div class="d-flex flex-row">Work In Progress</div>
  </div>


  <app-card-footer>
    <app-button text="Show All" class="mr-1" icon="far fa-link" type="link"></app-button>
  </app-card-footer>
</app-card>

</div>



