<app-med-sec-site-selector (onSelected)="addClicked()"></app-med-sec-site-selector>

<app-appointment-popup-add-edit *ngIf="showAppointment == true" (saved)="savedHandler();" (closed)="closedHandler()"
  (waitingListUpdate)="waitingListHandler()" [appointmentId]="appointmentId" [waitingListId]="waitingListId"
  [patientId]="patientId" [ownerId]="ownerId" [locationId]="locationId" [fromSession]="fromSession"
  [startDate]="startDateTime">
</app-appointment-popup-add-edit>

<div class="d-flex d-flex-column">
  <div class="d-flex flex-grow-1">
    <div class="page-header responsive-margins"><i class="hc-appointment-calendar hcicon-light mr-2"></i>Diary</div>
  </div>

  <div class="d-flex flex-grow-1 mr-4 mt-2">
    <app-button icon="far fa-cog" text="Diary Settings" type="link" class="ml-auto mt-3" (clicked)="settings()">
    </app-button>

    <app-button icon="far fa-plus" class="ml-4 mt-2 mr-1" text="Add" iconPosition="left" [showDropdownIcon]="true"
      #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="belowMenu"></app-button>

    <mat-menu #belowMenu="matMenu" yPosition="below">
      <ng-container *ngFor="let item of items">
        <app-button type="link" [icon]="item.icon" color="grey" class="menu-item-btn" [text]="item.description"
          (clicked)="itemClicked(item)"></app-button>
      </ng-container>
    </mat-menu>
  </div>
</div>

<!-- <div class="d-flex flex-grow-1 responsive-paddings pt-0 px-0 app-card" *ngIf="sites.length>0"> -->

<div class="app-card" *ngIf="userStore.isMedSecUser() && sites.length>0">
  <mat-tab-group [attr.mat-align-tabs]="'start'" class="full-height" (selectedTabChange)="tabChange($event.index)">
    <div *ngFor="let site of sites">
      <mat-tab>
        <ng-template mat-tab-label>
          <span>{{site.siteName}}</span>
        </ng-template>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>

<div class="d-flex flex-grow-1 responsive-margins disable-select" *ngIf="userStore.isMedSecUser() && selectedSiteId">
  <div class="app-card responsive-paddings flex-grow-1">
    <app-view-diary class="d-flex flex-grow-1 h-100" (appointmentSelected)="appointmentSelectedHandler($event)"
      [refreshDiary]="refreshDiary" (practitionersSelected)="practitionersSelectedHandler($event)"
      [tabid]="selectedSiteId" [reloadDataListener]="notifier"></app-view-diary>
  </div>
  <div class="d-none d-lg-flex flex-w-20">
    <div class="app-card h-100 ml-3 flex-grow-1">
      <app-waiting-list class="d-flex flex-column w-100 h-100" [selectedRecord]="selectedRecordWaiting"
        [selectedPractitioners]="selectedPractitioners" [updateWaitingList]="updateWaitingList"
        (waitingListId)="bookFromWaitingListHandler($event)"></app-waiting-list>
    </div>
  </div>
</div>


<div class="d-flex flex-grow-1 responsive-margins disable-select" *ngIf="!userStore.isMedSecUser()">
  <div class="app-card responsive-paddings flex-grow-1">
    <app-view-diary class="d-flex flex-grow-1 h-100" (appointmentSelected)="appointmentSelectedHandler($event)"
      [refreshDiary]="refreshDiary" (practitionersSelected)="practitionersSelectedHandler($event)"
      [reloadDataListener]="notifier"></app-view-diary>
  </div>
  <div class="d-none d-lg-flex flex-w-20">
    <div class="app-card h-100 ml-3 flex-grow-1">
      <app-waiting-list class="d-flex flex-column w-100 h-100" [selectedRecord]="selectedRecordWaiting"
        [selectedPractitioners]="selectedPractitioners" [updateWaitingList]="updateWaitingList"
        (waitingListId)="bookFromWaitingListHandler($event)"></app-waiting-list>
    </div>
  </div>
</div>
