.drafts {
    height: 40px; 
    width: 100%; 
    margin: 0 0 5px; 
    background-color: goldenrod;
    border-radius: 5px;
  }
  
  .draft-label {
    height: 40px; 
    line-height: 40px; 
    margin-left: 10px;
  }
  
  .draft-button {
    float: right; 
    margin: 3px 10px;
  }