.page-main {
    position: absolute;
    top: 0;
    bottom: 50px;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 15px;
}

.page-footer {
    position: absolute;
    bottom: 0;
    max-height: 50px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}

.page-footer-button {
    float: right;    
}

.text-area-height {
    height: 116px;
}