<dx-popup appCentralPopUpSettings [width]="'800'" [height]="'550'" *ngIf="showPopup"
    (onInitialized)="appInfo.disableESC($event)">
    <div *dxTemplate="let data of 'popupContent'" class="popup-wrapper">
        <app-pop-up-form-title title="Link Sites" (closed)="close()"></app-pop-up-form-title>

        <div class="central-popup-wrapper">
            <div class="central-popup-body">
                <div class="d-flex flex-row flex-wrap w-100 mb-3 pt-2">
                    <app-grid-search-text-box (changed)="searchBoxValue = $event; doSearch()">
                    </app-grid-search-text-box>
                </div>

                <div class="cssWidgetWrapper">
                    <dx-data-grid id="siteGrid" [dataSource]="dataSource" gridWithRowLinesSettings keyExpr="this"
                        height="100%" [hoverStateEnabled]="true" class="cssGridGeneral padd-first-lg"
                        [rowAlternationEnabled]="true" focusedRowIndex="0" [focusedRowEnabled]="true"
                        [columnMinWidth]="175">
                        <dxo-scrolling mode="virtual"></dxo-scrolling>

                        <dxi-column dataField="siteName" caption="Site Name" cssClass="text-semiBold"></dxi-column>
                        <dxi-column dataField="siteRef" caption="Site Ref" sortOrder="asc"></dxi-column>
                        <dxi-column dataField="ePracticeVariant" caption="ePractice Variant"
                            cellTemplate="variantTemplate">
                        </dxi-column>
                        <dxi-column type="buttons" [showInColumnChooser]="false" width="85">
                            <dxi-button template="myCommandTemplate"></dxi-button>
                        </dxi-column>

                        <div *dxTemplate="let d of 'variantTemplate'" [ngSwitch]="d.value"
                            class="d-flex flex-row justify-content-center">
                            <div class="label-tag md type3-1" *ngSwitchCase="'Lite'">{{d.value}}</div>
                            <div class="label-tag md type5-1" *ngSwitchCase="'Full'">{{d.value}}</div>
                            <div class="label-tag md type5-1" *ngSwitchCase="'Pro'">{{d.value}}</div>
                            <div class="label-tag md type1-1" *ngSwitchCase="'Basic'">{{d.value}}</div>
                            <div class="label-tag md type4-1" *ngSwitchCase="'Clinic'">{{d.value}}</div>
                            <div class="label-tag md type5" *ngSwitchDefault>{{d.value}}</div>
                        </div>

                        <div *dxTemplate="let cellInfo of 'myCommandTemplate'" class="d-flex flex-row">
                            <app-button type="link" text="Link site" size="sm" iconPosition="left" icon="far fa-plus"
                                matTooltip="Link" (clicked)="addLink(cellInfo)">
                            </app-button>
                        </div>
                    </dx-data-grid>
                </div>
            </div>

            <!-- Footer -->
            <div class="popup-form-footer-wrapper">
                <app-button text="Close" class="ml-auto mr-3" (clicked)="close()" color="grey"></app-button>
            </div>
        </div>
    </div>
</dx-popup>