@import "./variables.scss";

.swal2-container {
  z-index: 1600 !important;

  &.swal2-top{
    padding-top: 8%;
  }

  .swal2-popup {
    border-radius: 14px;
    width: 36rem;
    padding: 1em 0em;
    font-size: 13px;
  }

  .swal2-header {
    .swal2-title {
      font-size: 1.2rem;
      color: hsl(0%, 0%, 40%);
      margin-bottom: 1.5rem;
      font-weight: 500;

      &.no-icon{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }

    .swal2-icon{
      // width: 3em;
      // height: 3em;
      margin: 0.2em auto 0.6em;

      .swal2-icon-content {
        font-size: 2.5em;
    }
    }
  }

  .swal2-content {
    color: hsl(0, 0%, 50%);
    font-size: 1.075rem;
    margin-top: 1rem;
  }

  .swal2-actions {
    margin: 2.5rem 0 0.25rem;
    button {
      border-radius: 6px;
      padding: 0.6rem 1.3rem 0.55rem;
      min-width: 8rem;
      box-shadow: none;

      &.swal2-styled{
        font-weight: 400;
        font-size: 14px;
        margin: 0.125em 0.5525em;
      }
    }
  }

  .swal2-styled.swal2-confirm {
    background-color: $primary;
}

}
