// $primary: hsl(204, 73%, 40%);
$primary: #405C9D;
$ep-color-accent:#DDEEFB;
$ep-color-menuicon: #98A3AA;
$ep-color-menuicon-highlighted: white;
$ep-color-menubackground-highlighted: white;
$main-text-color: rgb(0, 0, 0);
$ep-color-text: $main-text-color;
$ep-color-label: $main-text-color;
$ep-color-heading: $main-text-color;
$ep-color-button-background: #dde4e8;
$ep-color-button-text: white;
$ep-color-button-border: grey;
$ep-color-toolbarbutton-background: #dde4e8;
$ep-color-toolbarbutton-text: white;
$ep-color-toolbarbutton-border: grey;
$ep-color-background: #fff;
$ep-color-panelbackground: #fff;
$ep-color-popupbackground: #eee;
$ep-color-panelborder: grey;
$base-border-color: hsl(0, 0%, 90%);
$ep-border-radius: 4px;
$ep-color-highlighttext: #69be28;
$ep-warning : #E73458;
$Focus :  #FCF7E4;
$card-back-color :  rgb(255, 255, 255);
$ep-error-banner : #F6BABA;
$ep-caution :rgb(245, 241, 12);
$menu-icon-color :  #ffffff;
$main-bg-color:  hsl(240, 4%, 97%);
$title-bg-color: hsl(208, 46%, 38%);
