/* You can add global styles to this file, and also import other style files */
@import "bootstrap/scss/bootstrap.scss";
@import "./assets/scss/variables.scss";
@import "./assets/scss/styles.scss";
@import "./assets/scss/temp.scss";
@import "@angular/material/theming";
// @import "./assets/scss/all.min.css";
@include mat-core();

// @font-face{
//   font-family:"Frutiger LT W01_45 Ligh1475730";
//   src: url('/assets/fonts/Frutiger-45-Light.woff2') format('woff2'),
//     url('/assets/fonts/Frutiger-45-Light.woff') format('woff');

//   }
//   @font-face{
//   font-family:"Frutiger LT W01_55 Roma1475738";
//   src: url('/assets/fonts/Frutiger-55-Roman.woff2') format('woff2'),
//     url('/assets/fonts/Frutiger-55-Roman.woff') format('woff');

//   }
//   @font-face{
//   font-family:"Frutiger LT W01_65 Bold1475746";
//   src: url('/assets/fonts/Frutiger-LT-65-Bold.woff2') format('woff2'),
//     url('/assets/fonts/Frutiger-LT-65-Bold.woff') format('woff');
//   }
//   @font-face{
//   font-family:"Frutiger LT W01_66 Bold Italic";
//   src: url('/assets/fonts/Frutiger-66-Bold-Italic.woff2') format('woff2'),
//    url('/assets/fonts/Frutiger-66-Bold-Italic.woff') format('woff');
//   }

$ep-color-menuicon: #1f2053;
$ep-color-menuicon-highlighted: white;
$ep-color-menubackground-highlighted: white;
$ep-color-text: rgb(6,7,8);
$ep-color-label: #000000;
$ep-color-heading: #000000;
$ep-color-button-background: #dde4e8;
$ep-color-button-text: white;
// $ep-color-button-border: grey;
$ep-color-button-border: grey;
$ep-color-toolbarbutton-background: #dde4e8;
$ep-color-toolbarbutton-text: white;
$ep-color-toolbarbutton-border: grey;

$ep-color-background: #fff;
$ep-color-panelbackground: #fff;
$ep-color-popupbackground: #fff;
$ep-color-panelborder: grey;
// $base-border-color: hsl(0, 0%, 89%);
$base-border-color: rgba(135, 135, 135, 0.25);
$ep-border-radius: 15px;
$ep-color-highlighttext: #69be28;
$ep-card-border-radius: 20px;

@font-face {
  font-family: "Manrope";
  src: url("assets/fonts/Manrope-VariableFont_wght.ttf");
}

html,
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
  font-family: "Manrope" !important;
  font-size: 13px;
  font-weight: 400;
}

.dx-swatch-additional .dx-datagrid-header-panel {
  border-bottom: 1px solid #ddd;
  padding: 2px !important;
}
.content h2 {
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  font-size: 26px;
}

body {
  -webkit-user-select: none;
  user-select: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .content h4, .content h5 {
//   margin-bottom: 8px !important;
//   margin-top: 8px !important;
// }

.dx-swatch-additional .dx-box-item-content {
  font-size: 13px;
}

span.dx-field-item-label-text {
  color: $ep-color-label;
  float: right;
}
.dx-swatch-additional .dx-field-item-label-text {
  color: $ep-color-label;
  font-size: 13.5px;
}

// .dx-texteditor-input {font-weight:600; background-color: #E7ECEF !important;}
.dx-layout-manager .dx-field-item:not(.dx-first-row) {
  padding-top: 2px;
}

.dx-swatch-additional .dx-treeview-item .dx-icon {
  font-size: 18px;
}
.screen-large .responsive-paddings {
  padding: 20px;
}
.content-block {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

// .dx-overlay-content .dx-popup-content {
//   background-color: rgb(237, 252, 255);
// }
.dx-overlay-content .dx-popup-content {
  background-color: $ep-color-popupbackground;
}

gridster-item {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

.dx-form-group-with-caption .dx-form-group-content {
  padding-top: 5px;
  margin-top: 2px;
}

//PG .menu-container .dx-treeview-item-content:hover { font-weight:bold!important;}
.menu-container .dx-treeview .dx-treeview-node-container .dx-treeview-node.dx-state-selected > .dx-treeview-item * {
  font-weight: bold;
}
.dx-treeview-node.dx-treeview-item-without-checkbox.dx-treeview-node-is-leaf.dx-state-selected.dx-state-focused
  .dx-item-content.dx-treeview-item-content {
  color: white;
}
li.dx-treeview-node.dx-treeview-item-without-checkbox.dx-treeview-node-is-leaf.dx-state-selected.dx-state-focused
  .dx-item-content.dx-treeview-item-content
  * {
  color: white !important;
  font-weight: bold;
}

.dx-context-menu {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.dx-textbox.dx-state-focused input {
  background: #e7ecef;
}
.dx-numberbox.dx-state-focused input {
  background: #e7ecef;
}
dx-text-area.dx-state-focused .dx-texteditor-input {
  background: #e7ecef;
}

.dx-swatch-additional .dx-editor-underlined .dx-textbox.dx-state-focused {
  background: #e7ecef;
}
.dx-swatch-additional .dx-editor-underlined .dx-texteditor-input.dx-state-focused {
  background: #e7ecef;
}
.dx-swatch-additional .dx-editor-underlined.dx-state-focused .dx-texteditor-input {
  background: #e7ecef;
}

.dx-datagrid-headers {
  // color: $ep-color-label;
  color: rgb(45, 120, 174);
  font-weight: bold;
}

.dx-datagrid .dx-row > td {
  padding: 3px;
}

.dx-datagrid-rowsview .dx-adaptive-detail-row .dx-adaptive-item-text {
  padding-top: 0px;
  padding-bottom: 0px;
}
.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding: 10px;
}

.dx-template-wrapper a {
  color: rgba(55, 155, 255, 0.7) !important;
}


.mat-badge-content {
  color: #fff;
  background: #673ab7
}

.cdk-high-contrast-active .mat-badge-content {
  outline: 1px solid;
  border-radius: 0
}

.mat-badge-accent .mat-badge-content {
  background: #ffd740;
  color: rgba(0,0,0,.87)
}

.mat-badge-warn .mat-badge-content {
  color: #fff;
  background: #f44336
}

.mat-badge {
  position: relative
}

.mat-badge-hidden .mat-badge-content {
  display: none
}

.mat-badge-disabled .mat-badge-content {
  background: #b9b9b9;
  color: rgba(0,0,0,.38)
}

.mat-badge-content {
  position: absolute;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  -webkit-transform: scale(.6);
  -ms-transform: scale(.6);
  transform: scale(.6);
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  pointer-events: none
}


.mat-badge-content._mat-animation-noopable,.ng-animate-disabled .mat-badge-content {
  -webkit-transition: none;
  -o-transition: none;
  transition: none
}

.mat-badge-content.mat-badge-active {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none
}

.mat-badge-small .mat-badge-content {
  width: 16px;
  height: 16px;
  line-height: 16px
}

.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -8px
}

.mat-badge-small.mat-badge-below .mat-badge-content {
  bottom: -8px
}

.mat-badge-small.mat-badge-before .mat-badge-content {
  left: -16px
}



.badge-success {
  color: #fff;
  background-color: #28a745
}

a.badge-success:focus,a.badge-success:hover {
  color: #fff;
  background-color: #1e7e34
}

a.badge-success.focus,a.badge-success:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(40,167,69,.5);
  box-shadow: 0 0 0 .2rem rgba(40,167,69,.5)
}

.badge-info {
  color: #fff;
  background-color: #17a2b8
}

a.badge-info:focus,a.badge-info:hover {
  color: #fff;
  background-color: #117a8b
}

a.badge-info.focus,a.badge-info:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(23,162,184,.5);
  box-shadow: 0 0 0 .2rem rgba(23,162,184,.5)
}

.badge-warning {
  color: #212529;
  background-color: #ffc107
}

a.badge-warning:focus,a.badge-warning:hover {
  color: #212529;
  background-color: #d39e00
}

a.badge-warning.focus,a.badge-warning:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(255,193,7,.5);
  box-shadow: 0 0 0 .2rem rgba(255,193,7,.5)
}

.badge-danger {
  color: #fff;
  background-color: #dc3545
}

a.badge-danger:focus,a.badge-danger:hover {
  color: #fff;
  background-color: #bd2130
}

a.badge-danger.focus,a.badge-danger:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
  box-shadow: 0 0 0 .2rem rgba(220,53,69,.5)
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa
}

a.badge-light:focus,a.badge-light:hover {
  color: #212529;
  background-color: #dae0e5
}

a.badge-light.focus,a.badge-light:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(248,249,250,.5);
  box-shadow: 0 0 0 .2rem rgba(248,249,250,.5)
}

.badge-dark {
  color: #fff;
  background-color: #343a40
}

a.badge-dark:focus,a.badge-dark:hover {
  color: #fff;
  background-color: #1d2124
}

a.badge-dark.focus,a.badge-dark:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 .2rem rgba(52,58,64,.5);
  box-shadow: 0 0 0 .2rem rgba(52,58,64,.5)
}

// #patientSearchGrid .dx-template-wrapper td.dx-command-edit  a.dx-link.edit {color:transparent!important; display:none!important;}
// .dx-datagrid .dx-command-edit .dx-link {color:transparent!important; display:none!important;}
// .dx-datagrid tr.dx-row-focused .dx-command-edit .dx-link {color:white!important; border:1px solid white!important; border-radius:5px; display:inline-block!important;}
// #patientSearchGrid .dx-template-wrapper tr.dx-row-focused td.dx-command-edit a.dx-link.edit {color:white!important; border:1px solid white;display:inline-block!important;}

// #patientSearchGrid .dx-template-wrapper td.dx-command-select dx-button.myCommandButton {display:none!important;}
// #patientSearchGrid tr.dx-row-focused  .dx-template-wrapper td.dx-command-select dx-button.myCommandButton {display:inline-block!important;}

.dx-button.myCommandButton {
  display: none !important;
}
tr.dx-row-focused .dx-button.myCommandButton {
  display: inline-block !important;
  color: white !important;
  border-color: white !important;
}
tr.dx-row-focused .dx-button.myCommandButton .dx-icon {
  color: white !important;
}

.dx-item.dx-tab.dx-tab-selected .dx-tab-text {
  font-weight: 500;
  color: hsl(0 0% 35% / 1) !important;
}

.screen-large .responsive-paddings {
  padding: 10px !important;
  margin: 10px !important;
}

a.dx-link.myCommandButton {
  padding-left: 8px !important;
  padding-right: 8px !important;
  font-weight: normal;
}

#patientSearchGrid {
  max-width: 100% !important;
}
td[role="columnheader"] .dx-datagrid-text-content {
  color: hsl(0, 0%, 50%);
  font-weight: bold;
}
.ep_preview_title {
  width: 140px;
  text-align: right;
  color: $ep-color-label;
  display: inline-block;
}
.ep_tile_label {
  width: 70px;
  text-align: right;
  color: $ep-color-label;
  display: inline-block;
}
.screen-x-small .content-block,
.screen-small .content-block {
  margin-left: 5px !important;
  margin-right: 2px !important;
}

.screen-x-small .dx-card,
.screen-small .dx-card {
  padding: 5px !important;
}
.screen-x-small .content-block.dx-card.responsive-paddings,
.screen-small .content-block.dx-card.responsive-paddings {
  margin-left: 3px !important;
  margin-right: 3px !important;
  padding: 3px !important;
  margin-top: 3px !important;
}
.screen-x-small .dx-toolbar.header-toolbar,
.screen-small .dx-toolbar.header-toolbar {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#loginform span.dx-field-item-label-text {
  color: white !important;
}

.upper .dx-textbox.dx-texteditor input {
  text-transform: uppercase !important;
}

.dx-button.dx-button-default.dx-button-mode-outlined.dx-state-hover {
  --borderWidth: 3px;
  // background: white!important;
  position: relative !important;
  border-radius: 3px;
}

.dx-button.dx-button-default.dx-button-mode-outlined.dx-state-hover:after {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  // background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  // background: linear-gradient(60deg, dodgerblue, #5073b8, #1098ad, #07b39b, #6fba82, white)!important;

  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );

  // animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
  // animation: gradient-animation 4s ease-in-out infinite;
  background-size: 300% 300% !important;
}

.dx-checkbox-text {
  color: #00338d;
}

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

.dx-swatch-additional .dx-button-has-text .dx-button-content {
  padding: 6px !important;
}

.dx-dropdowneditor-button-visible .dx-texteditor-input {
  padding-right: 5px;
}

.dx-popup-content {
  padding: 5px;
}
.dx-layout-manager.dx-layout-manager-one-col
  .dx-box-item:not(:first-child)
  .dx-single-column-item-content
  > .dx-field-item {
  padding-top: 5px;
}

// @keyframes frame-enter {
//   0% {
//     clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
//   }
//   25% {
//     clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
//   }
//   50% {
//     clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
//   }
//   75% {
//     -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
//   }
//   100% {
//     -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
//   }
// }

.dx-button-mode-contained.dx-button-default.dx-state-focused {
  border-color: #dde4e8;
}
.dx-swatch-additional .dx-button-mode-contained.dx-button-default.dx-state-focused {
  border-color: cyan;
}

// app-footer { padding-top:5px!important; padding-bottom:5px!important;}
app-footer {
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.dx-pages .dx-info,
.dx-pager .dx-pages .dx-info {
  color: #333;
  opacity: 1;
}

// .dx-button-mode-contained.dx-state-hover,
.dx-pager .dx-pages .dx-selection,
.dx-pager .dx-page-sizes .dx-selection {
  background: #ccf6ff !important;
}

.dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
  background-color: #f9f9f9d9;
}
.dx-treelist .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
  background-color: #f9f9f9d9;
}

.dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused) {
  color: #00338d;
}
.dx-datagrid-rowsview .dx-row.dx-group-row:not(.dx-row-focused) td {
  font-weight: bold;
}
.dx-checkbox-text {
  color: #333;
}

.dx-datagrid-filter-row .dx-menu-item-content .dx-icon {
  color: #00338d;
}

.dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding-top: 0px;
  padding-bottom: 0px;
}

.dx-loadindicator-icon .dx-loadindicator-segment {
  background: #5087e5;
}
.dx-loadpanel-content {
  background: rgba(255, 255, 255, 0.8);
}

.alert.alert-danger {
  font-weight: 700;
  color: red;
}

.header-toolbar.dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection {
  //padding: 1px 0 !important;
  height: 55px;
  width: 100%;
  background-color: #f9f9f9;
}

.dx-drawer-panel-content i.dx-icon {
  // color: #00338d;
  color:white;
}

app-side-navigation-menu dx-toolbar,
#navigation-header {
  padding-top: 5px !important;
}
.dx-field-label {
  text-align: right;
}

.dx-datagrid-column-chooser .dx-overlay-content {
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.dx-device-mobile .dx-list-item-content {
  padding: 5px 15px;
}

// .dx-scrollview-content .dx-item.dx-list-item:nth-child(odd):not(.dx-state-hover):not(.dx-list-item-selected):not(.dx-state-focused){background-color:white;}
// .dx-scrollview-content .dx-item.dx-list-item:nth-child(even):not(.dx-state-hover):not(.dx-list-item-selected):not(.dx-state-focused){background-color: #f7f7f7;}

.dx-texteditor-input {
  padding-bottom: 2px;
  padding-top: 2px;
}
.dx-texteditor.dx-editor-outlined,
.dx-swatch-additional .dx-texteditor.dx-editor-outlined {
  border-color: #6c757d;
}

.dx-layout-manager .dx-field-item:not(.dx-last-col) {
  padding-right: 1px;
}
.dx-layout-manager .dx-field-item:not(.dx-first-col) {
  padding-left: 1px;
}
.dx-overlay-shader {
  background-color: rgba(35, 34, 34, 0.36);
}
.dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) > .dx-datagrid-group-space,
.dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) .dx-master-detail-cell {
  background-color: #fff;
}

.SmallDeleteButton.dx-button-has-icon .dx-button-content {
  padding: 1px !important;
}
.SmallDeleteButton.dx-button-has-icon .dx-icon {
  font-size: 12px !important;
}
.SmallCancelButton.dx-button-has-icon .dx-button-content {
  padding: 1px !important;
}
.SmallCancelButton.dx-button-has-icon .dx-icon {
  font-size: 12px !important;
}
.dx-swatch-additional .SmallCancelButton.dx-button-has-text .dx-button-content {
  padding: 1px !important;
}

.dx-swatch-additional .dx-checkbox-icon,
.dx-texteditor.dx-editor-outlined {
  border-color: #6c757d;;
}

.dx-tile {
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  border: solid thin rgba(0, 0, 190, 0.35);
}
// .dx-tile.dx-state-hover {background: white; border: solid medium rgba(0,200,200,0.7); margin-top:-5px; }
.dx-tile.dx-state-hover {
  background: white;
  border: solid medium rgba(0, 177, 255, 0.7);
  margin-top: -5px;
}

.dx-swatch-additional .dx-checkbox-checked .dx-checkbox-icon {
  color: #333;
  font-weight: bold;
}

.text-center {
  text-align: center;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.lh-30 {
  line-height: 30px;
}

.dx-responsivebox-screen-xs span.dx-field-item-label-text {
  float: left;
}

.dx-toolbar.header-toolbar .dx-toolbar-items-container .dx-toolbar-after {
  padding-left: 5px !important;
  padding-right: 1px !important;
}
.dx-field-item-required-mark {
  margin-left: -4px;
  color: red;
}

.dx-toolbar-label {
  padding-left: 12px !important;
}

.dx-device-mobile .dx-toolbar .dx-toolbar-items-container {
  height: 30px;
}
.dx-device-mobile .dx-popup-title.dx-toolbar .dx-toolbar-label {
  font-size: 17px;
}

.dx-datagrid-header-panel .dx-toolbar {
  margin-bottom: 3px;
  margin-top: 2px;
}

.dx-toolbar-item-content h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

// .dx-toolbar-item-content .dx-button-has-icon .dx-button-content { padding:4px;}

.dx-datagrid-export-button,
.dx-datagrid-column-chooser-button {
  background-color: $primary;
  border-color: transparent;
  color: #fff;
}
.dx-dropdowneditor-button.dx-button-mode-contained {
  // background-color: #00338d;
  border-color: transparent;
  color: #fff;
}

.dx-datagrid-export-button.dx-button-mode-contained .dx-icon,
.dx-datagrid-column-chooser-button.dx-button-mode-contained .dx-icon {
  color: white;
}

.dx-swatch-additional .dx-datagrid .dx-row-alt > td,
.dx-swatch-additional .dx-datagrid .dx-row-alt > tr > td {
  background-color: #eef6fa;
}

footer {
  font-size: 12px;
}
header dx-button .dx-button-content {
  padding: 4px !important;
}

.dx-swatch-additional .dx-form-group-caption {
  color: #00338d;
  font-weight: 600;
  display: block;
  text-align: center;
}

#patientPreviewScrollView .dx-scrollview-content {
  background: white !important;
  background-color: white !important;
}

.dx-swatch-additional .dx-overlay-shader {
  background-color: rgba(0, 0, 0, 0.28);
}

.dx-swatch-additional .dx-menu-base {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

#EditDocumentRichEdit {
  zoom: 0.75;
}

.dx-swatch-additional .dx-datebox-wrapper-calendar .dx-calendar {
  margin: 0;
}
.dx-swatch-additional .dx-calendar-body thead tr th {
  color: #444;
  font-weight: 500;
}

.dx-swatch-additional {
  border-right: thin solid #00348d;
}
.dx-swatch-additional .dx-treeview-toggle-item-visibility {
  color: #ffffff;
  font-size: 24px;
}
.dx-swatch-additional .dx-treeview-toggle-item-visibility.dx-treeview-toggle-item-visibility-opened {
  font-size: 24px;
}
.dx-theme-generic-typography a {
  color: #56278f;
}
.dx-button-mode-contained.dx-button-default.dx-state-hover,
.dx-button-mode-contained.dx-button-default.dx-state-hover {
  background-color: #00985f;
}

.dx-swatch-additional .dx-button-mode-contained.dx-button-default.dx-state-hover {
  background-color: #00985f;
}
app-side-navigation-menu
  .dx-scrollable.dx-visibility-change-handler.dx-scrollable-vertical.dx-scrollable-simulated.dx-scrollable-customizable-scrollbars {
  max-height: calc(100vh - 90px);
}

// .dx-overlay-content .dx-popup-content {background: linear-gradient(200deg, #dbecf6, #dbecf6,#dbecf6, #efdbf6cc); }
.dx-toolbar .dx-toolbar-items-container {
  height: 47px;
}

.dx-actionsheet-container .dx-actionsheet-item {
  margin-bottom: 4px;
}

#searchText.dx-state-readonly input,
.dx-state-readonly input[name="lastName"],
.dx-state-readonly input[name="firstName"] {
  background: lightcyan !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

div.dx-textbox.dx-state-readonly > .dx-texteditor-container > .dx-texteditor-buttons-container {
  display: none;
}

.dx-swatch-additional .dx-toolbar-menu-section .dx-toolbar-item-auto-hide {
  padding: 5px 1px;
}
.dx-toolbar-menu-section .dx-toolbar-hidden-button .dx-button {
  padding: 1px;
}

.dx-datebox-wrapper-calendar .dx-calendar {
  margin: 5px;
}
.dx-datebox-wrapper-calendar.dx-datebox-wrapper-datetime .dx-calendar {
  margin-right: 5px;
  margin-bottom: 5px;
}
.dx-datebox-wrapper-calendar.dx-datebox-wrapper-datetime .dx-timeview {
  margin: 5px;
}

.ql-editor.dx-htmleditor-content {
  font-size: 16px;
}
.dx-swatch-additional .dx-field {
  margin: 0 0 2px 0;
  min-height: 20px;
}

.dx-field-label.hc-sitelabel {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: 3px;
  font-size: 14px;
  color: #00338d;
}

.dx-field-label.hc-label {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: 3px;
  font-size: 14px;
  color: #00338d;
}

.dx-field-value.hc-sitevalue {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.dx-swatch-additional .dx-widget {
  line-height: 16px;
}

// .dx-swatch-additional .dx-tab.dx-tab-selected {
//   background-color: #fff;
//   color: #333;
//   border-right: 2px solid cyan;
//   border-left: 2px solid cyan;
//   border-top: 1px solid cyan;
// }

// .dx-swatch-additional .dx-tab.dx-tab-selected {
//   background: linear-gradient(90deg, #00338d, #00b1ff);
//   color: white;
//   border-right: 2px solid cyan;
//   border-left: 2px solid cyan;
//   border-top: 1px solid cyan;
//   font-size: 15px;
//   font-weight: 500;
//   text-shadow: 1px 1px 1px black;
// }

.dx-swatch-additional .dx-tab.dx-tab-selected {
  color: #00338d;
  border-top: 2px solid #00985f;
  font-size: 15px;
  font-weight: 500;
}

.dx-tabpanel.dx-state-focused .dx-multiview-wrapper {
  border: 1px solid #00985f;
  padding: 1px;
}

.dx-swatch-additional .dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
  background-color: #fff;
  border-right: 1px solid gray;
}

.dx-swatch-additional .dx-tabpanel .dx-tab:not(.dx-tab-selected).dx-state-hover {
  // border-right: 1px solid cyan;
  // font-weight: bold;
  background: #00985f;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.dx-accordion-item-title {
  min-height: 24px;
}

.fa-red {
  color: Red !important;
  opacity: 1;
}
.fa-amber {
  color: Orange !important;
  opacity: 1;
}
.ep-patientageflag {
  border: none !important;
}
.dx-swatch-additional .dx-state-disabled.dx-widget {
  opacity: 1;
}

.dx-swatch-additional .dx-datebox.dx-auto-width .dx-texteditor-input,
.dx-swatch-additional .dx-datebox:not(.dx-texteditor-empty).dx-auto-width .dx-texteditor-input {
  padding-right: 5px;
}
.dx-datebox.dx-auto-width .dx-texteditor-input,
.dx-datebox:not(.dx-texteditor-empty).dx-auto-width .dx-texteditor-input {
  padding-right: 2px;
}
.dx-field-item-label-location-left {
  padding-right: 2px;
}

.content-block.dx-card.dx-swatch-additional.responsive-paddings,
.content-block.dx-card.responsive-paddings,
.dx-card {
  background: #dde4e8;
}
.dx-card {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
.dx-htmleditor-content {
  background: #ffffff;
}

.dx-checkbox-checked .dx-checkbox-icon {
  color: #333;
}

.dx-swatch-additional .dx-accordion-item-title:before {
  font-size: 16px;
  margin-left: 7px;
  margin-right: 0px;
  line-height: 21px;
  background: transparent;
  color: #00338d;
  margin-top: -2px;
  text-shadow: 1px 1px 1px white;
}

.termsdatawrap {
  margin-left: 70px;
}
.fontmed {
  background: white;
  padding-top: 15px;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.data_terms_list_wrap {
  background: white;
  padding: 3px;
}

// .dx-item-content.dx-toolbar-item-content > .dx-button > .dx-button-content { padding-top: 3px!important; padding-bottom: 3px!important;}

app-footer {
  background: white;
  height: 22px;
  margin-left: -20px;
  margin-right: -20px;
}

.dx-context-menu .dx-menu-item-content i.dx-icon {
  // color: #98a3aa;
  color: #1d1943;
  margin-right: 0;
  // text-shadow: 1px 1px 1px white;
}
.dx-context-menu .dx-state-hover .dx-menu-item-content i.dx-icon {
  color: white;
  text-shadow: none;
}
.dx-scheduler-navigator {
  padding: 2px;
}

.dx-scheduler-appointment-content {
  padding: 1px;
  border-radius: 0px;
  margin: 1px;
}
.dx-scheduler-group-header-content h2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.dx-scheduler-appointment-content-date {
  opacity: 0.99;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.dx-scheduler-appointment-content-details,
.dx-scheduler-appointment-title {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
.dx-scheduler-appointment {
  background-color: transparent !important;
  box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0) !important;
  padding: 0px;
}

.dx-htmleditor-content {
  padding: 5px 10px;
}
label {
  margin-bottom: 0;
}

.dx-overlay-content.dx-popup-normal.dx-resizable.dx-popup-inherit-height {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.dx-timeview-format12 {
  width: 80px;
}

.dx-scheduler-appointment-popup .dx-field-item-label-location-left {
  padding-right: 5px;
  padding-left: 10px;
}

.dx-switch-on,
.dx-switch-off {
  font-size: 12px;
}

.dx-texteditor.dx-state-readonly {
  // border-color: #6c757d !important;
  border: 0;
  background: #e7ecef;
}

.appointment-description {
  //  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  color: black;
}

.dx-button-content.dx-scheduler-appointment-collector-content {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.dx-dropdowneditor-overlay > .dx-overlay-content {
  box-shadow: 0 3px 16px -1px rgba(0, 0, 0, 0.1);
}

div.dx-tabpanel-container div.dx-multiview-wrapper {
  background: #dbecf6;
  background-color: #dbecf6;
}

.dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
  background: white;
  border-right: 1px solid #333;
}

.dx-tabpanel .dx-tab:not(.dx-tab-selected):not(.dx-state-hover) {
  border-right: 1px solid #333;
}

.dx-swatch-additional .dx-popup-title.dx-toolbar {
  line-height: 26px;
}

.dx-swatch-additional .dx-checkbox.dx-state-readonly .dx-checkbox-icon {
  border-color: #ccccda;
}

label.dx-field-item-label-location-top {
  margin-bottom: 1px;
}

// .authorization.user-button.dx-button.dx-button-normal.dx-state-hover .user-info { background:  $primary; }
// .authorization.user-button.dx-button.dx-button-normal.dx-button-mode-text.dx-state-hover { background:  $primary; }
.authorization.site-button.dx-button.dx-button-normal.dx-button-mode-text.dx-state-hover {
  background: $primary;
}
.authorization.site-button.dx-button.dx-button-normal.dx-state-hover .site-info .site-name {
  background: $primary;
  color: white;
  font-weight: 500;
}
// .authorization.user-button.dx-button.dx-button-normal.dx-state-hover .user-info .user-name { background:  $primary; color:white; font-weight: 500; }

.dx-command-edit dx-button {
  display: none;
}
tr.dx-row-focused .dx-command-edit dx-button {
  display: inline-block;
}
.dx-command-edit .dx-button-has-text .dx-button-content {
  padding-top: 2px;
  padding-bottom: 2px;
}

.dx-state-disabled.dx-widget,
.dx-state-disabled .dx-widget {
  opacity: 0.4;
}
.dx-field-item-label-text {
  color: #00338d;
}

.dx-field-label {
  color: #00338d;
}
.dx-swatch-additional .dx-field-label {
  color: #00338d;
}

.card-body {
  padding: 10px;
}

.dx-field {
  margin: 0 0 3px 0;
}

.dx-swatch-additional .dx-datagrid .dx-row > td.dx-command-edit {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}
.dx-datagrid .dx-row > td.dx-command-edit {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
}
.child.dx-template-wrapper {
  background: yellow;
  color: #333;
}

.dx-swatch-additional .dx-datagrid .dx-row > td,
.dx-swatch-additional .dx-treelist .dx-row > td {
  line-height: 10px;
}

// .dx-scheduler-appointment, .dx-scheduler-cell-sizes-horizontal {
//   min-width: 100px;
// }
.dx-scheduler-work-space.dx-scheduler-work-space-grouped:not(.dx-scheduler-agenda) .dx-scheduler-date-table-cell {
  min-width: 150px;
  // width: 175px;
}

tr:not(.dx-row-focused) .referrer-checkbox-column {
  display: none;
}
tr.dx-row-focused .referrer-checkbox-column {
  display: block;
}

.dx-swatch-additional dx-drop-down-button .dx-button-has-text .dx-button-content {
  padding: 3px !important;
}
dx-drop-down-button .dx-swatch-additional .dx-button-has-text .dx-button-content {
  padding: 3px !important;
}
// .dx-swatch-additional .dx-button-has-text .dx-button-content { padding: 3px;}

.dx-swatch-additional .dx-buttongroup-item.dx-button.dx-button-mode-contained:not(.dx-item-selected) {
  color: white;
  background: #00338d;
}

.dx-swatch-additional .dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-item-selected,
.dx-swatch-additional .dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-button-normal.dx-state-focused {
  background: #dde4e8;
}

.dx-swatch-additional .dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-state-hover,
.dx-swatch-additional .dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-state-focused,
.dx-swatch-additional .dx-buttongroup-item.dx-button.dx-button-mode-contained.dx-button-normal.dx-state-hover {
  background: #dde4e8;
}

.dx-swatch-additional .dx-buttongroup-item.dx-button-mode-contained .dx-icon {
  color: white;
}

.dx-swatch-additional .dx-popup-wrapper > .dx-overlay-content {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.dx-swatch-additional .dx-accordion-item.dx-state-hover > .dx-accordion-item-title {
  // background-color: rgba(32, 197, 226, 0.281);
  background-color: #00985f;
}

.dx-swatch-additional .dx-buttongroup-item.dx-button-mode-contained .dx-icon.dx-icon-spindown {
  margin-left: 0px;
  margin-right: 3px;
  font-size: 22px;
}

.dx-swatch-additional .dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon,
.dx-swatch-additional .dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon {
  color: white;
}

b,
strong {
  font-weight: bold;
}

.dx-progressbar-animating-container {
  height: 12px;
}

.hc-chart {
  width: calc(100% - 15px);
  height: calc(50vh - 70px);
  background: white;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.dx-pivotgrid .dx-pivotgrid-area td {
  color: #00338d;
}

dx-datagrid-group-opened,
dx-datagrid-group-closed,
.dx-swatch-additional .dx-datagrid-group-opened,
.dx-swatch-additional .dx-datagrid-group-closed {
  font-size: 22px;
}

.dx-pivotgrid .dx-area-description-cell.dx-pivotgrid-background {
  background-color: rgba(221, 221, 221, 0.36);
}

.dx-pivotgrid .dx-total,
.dx-pivotgrid .dx-data-header,
.dx-pivotgrid .dx-column-header,
.dx-pivotgrid .dx-area-description-cell,
.dx-pivotgrid .dx-grandtotal {
  background-color: rgba(155, 165, 226, 0.2);
}

.dx-pivotgrid .dx-total,
.dx-pivotgrid .dx-data-header,
.dx-pivotgrid .dx-column-header,
.dx-pivotgrid .dx-area-description-cell {
  background-color: rgba(51, 74, 183, 0.12);
}

.hc-dashboardchart {
  height: calc(100% - 20px);
  width: calc(100% - 15px);
}

.dx-datagrid-total-footer > .dx-datagrid-content {
  padding-top: 2px;
  padding-bottom: 2px;
}

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: 0.25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.35);
  transform: scale(0.35);
  -webkit-transform-origin: top right;
  transform-origin: top right;
}

.fa-layers-counter,
.fa-layers-text {
  display: inline-block;
  position: absolute;
  text-align: center;
}

.shadow-lg {
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25) !important;
}

.dx-texteditor-input {
  background: white;
}

.dx-checkbox.dx-state-readonly .dx-checkbox-icon {
  border-color: #cfcdcd;
}

.content h4,
.content h5,
.content h2 {
  padding: 4px !important;
  background: white;
  // text-align: center;
  margin: 3px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.dx-swatch-additional .dx-accordion-item-body {
  padding: 3px 7px 12px;
  font-size: 14px;
}

.multiview-item {
  margin: 15px;
}

.card-header {
  padding: 5px;
  color: #00338d;
}
.card-body {
  padding: 5px;
}
.col-form-label {
  text-align: right;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 13px;
  color: #00338d;
}

dx-text-area.dx-state-focused textarea {
  background: rgba(245, 227, 157, 0.27);
}

// this blanket override for a bootstrap class is having a negative effect,
// if this needs overriding please use a scss file local to the html component
// .col-form-label {
//   padding-top: 2px;
//   padding-bottom: 2px;
//   font-size: 14px;
// }

// label.col-form-text {font-weight: 500; padding:2px;}

.card-header,
.subheadgdpr {
  padding: 3px;
  margin: auto;
  // color: #00338d;
  font-size: 16px;
  background: $primary;
  color: white;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

.card-header2 {
  padding: 1px;
  font-size: 15px;
  // background: linear-gradient(90deg, #00b1ff, transparent);
  background-color: #00985f;
  background: #00985f;
  color: white;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 5px;
}

.dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
  color: black;
}

h5.card-title {
  font-weight: normal;
}

.dx-scrollable-scroll-content {
  background-color: hsl(0, 0%, 75%);
}

.dx-item.dx-accordion-item.dx-accordion-item-opened > .dx-template-wrapper.dx-item-content.dx-accordion-item-title,
.dx-item.dx-accordion-item.dx-accordion-item-opened > .dx-item-content.dx-accordion-item-title {
  color: white;
  background: linear-gradient(90deg, #00348d, #00985f);
}

.dx-item.dx-accordion-item.dx-accordion-item-opened
  > .dx-template-wrapper.dx-item-content.dx-accordion-item-title
  .dx-icon,
.dx-item.dx-accordion-item.dx-accordion-item-opened > .dx-item-content.dx-accordion-item-title .dx-icon {
  color: white;
}

.dx-swatch-additional .dx-button-mode-contained.dx-button-default {
  background: #00348d;
}

.dx-toolbar {
  // box-shadow: 3px 3px 6px rgba(0,0,0,0.2);
}

.dx-menu-base {
  font-size: 14px;
}
.dx-dialog-message {
  font-size: 15px;
  padding: 10px;
}

.dx-swatch-additional .ep-SmallLabel .dx-field-item-label-text {
  font-size: 12px !important;
}

// .border-primary.card-body.itemSelected { border: 2px solid  #00b1ff;}    WHY??????
.card-header {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

ep-DeleteButton.dx-state-hover {
  background-color: red !important;
}

.card.card-tile {
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
  border: solid thin rgba(0, 0, 190, 0.35);
}

dx-data-grid .dx-datagrid-header-panel .dx-toolbar {
  padding: 2px;
  padding-bottom: 3px;
  margin: 0;
  min-height: 28px;
}

.dx-searchbox .dx-icon-search:before {
  color: #00348d;
  background: white;
}
.dx-toolbar .dx-toolbar-items-container {
  height: 32px;
}

.dx-field-item-help-text {
  color: #555;
}

.dx-menu-base .dx-icon {
  font-size: 20px;
  width: 22px;
}

dx-sortable.sortable-cards.dx-sortable .card {
  padding: 2px;
  margin-top: 2px;
}

.dx-treeview-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

.dx-context-menu.user-menu .dx-menu-item.dx-state-hover .dx-menu-item-content i {
  color: white;
  text-shadow: 1px 1px 1px black;
}

// fix for truncated popup title when title defined in code
.dx-toolbar-label .dx-toolbar-item-content > div,
.dx-toolbar-label > div {
  overflow: visible;
}

.dx-datagrid-header-panel > .dx-toolbar {
  box-shadow: none !important;
}

$loading-dk: #033e68;
$loading-lt: rgba(33, 217, 187, 1);

#loadIndicatorInner {
  background: linear-gradient(90deg, $loading-lt 0%, $loading-dk 33%, $loading-lt 66%, $loading-dk 100%) !important;
  background-size: 500% 100% !important;
  animation: errorBg 3s linear infinite;
  border-radius: 10px;
}
@keyframes errorBg {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.patientDetailsAge.dx-state-readonly .dx-texteditor-buttons-container {
  display: none;
}

.dx-datagrid-rowsview.dx-empty {
  height: 32px;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); /* Firefox 16+*/
  }
  100% {
    -moz-transform: rotate(360deg); /* Firefox 16+*/
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
body.show-spinner .preloader {
  display: block;
}

.preloader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: #0000;

  backface-visibility: hidden;
  & > div {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #033e68;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #985e00;
      -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
    &:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: #be288f;
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
    }
  }
}

.overlay-box {
  cursor: default; /* Add a pointer on hover */
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  align-content: center;

  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1512; /* Specify a stack order in case you're using a different order for other elements */
}

.overlay-content {
  position: fixed;
  top: 50%;
  width: 100%;
  text-align: center;
}

.col-form-label {
  font-weight: 400;
}

.dx-popup-normal .dx-button-mode-contained .dx-icon.dx-icon-close {
  color: white;
}

.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
  background-color: hsl(0, 0%, 93%);
}

#previewContentDiv {
  background: white;
}

.dx-htmleditor-toolbar-wrapper {
  background: white;
  padding: 0px;
}

.col-form-label {
  line-height: 1.2;
}

.form-group {
  margin-bottom: 0.25rem;
}

.col-form-text {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  line-height: 1.2;
  font-weight: 500;
  padding-left: 5px;
}

.hlp-checklist-button {
  opacity: 0.2;
}
.hlp-checklist-button:hover {
  opacity: 1;
}
.col-group-caption {
  font-size: 15px;
  margin-left: 10px;
  text-decoration: underline;
}

.dx-datagrid-group-closed {
  color: #3c3192 !important;
}

.dx-datagrid-group-open,
.dx-datagrid-group-opened {
  color: hsl(0, 0%, 35%) !important;
}
dx-datagrid-summary-item {
  color: #333;
}

.dx-tooltip-wrapper.dx-popover-wrapper .dx-popover-arrow:after {
  border: 1px solid #d4d4d4;
  background: #ffffff;
}

.alert .alert-danger {
  font-weight: 500;
  color: #c44141;
  padding: 3px 0px;
  margin-bottom: 2px;
}

.dx-invalid-message > .dx-overlay-content {
  color: #c52323;
  background-color: transparent;
  padding: 2px;
  font-size: 12px;
  margin-bottom: 10px;
}

.card.patient-details {
  font-family: Open Sans !important;
  color: #000000;
}

.patient-details-card {
  background-color: #dde4e8;
  border-width: 0px;
}

.set-height {
  height: 400px;
}

.set-width {
  width: 100%;
}
.card-height {
  height: 450px;
}
.example-small-box,
.example-large-box {
  display: flex;
}

.example-large-box {
  height: 340px;
  //  width: 95%;
}

.small-tab-box {
  height: 25em;
}

.standard-button.warning {
  background-color: transparent;
  color: #000000;
}
.standard-button.warning:hover {
  background-color: red;
  color: #ffffff;
}
.standard-button {
  background-color: #00985f;
  color: #ffffff;
  width: 88px;
  height: 38px;

  &.mat-button span {
    color: #ffffff;
  }
}

.small-button {
  background-color: #00985f;
  color: #ffffff;
  width: 70px;
  height: 38px;
}

.small-button.warning {
  background-color: transparent;
  color: #000000;
}
.small-button.warning:hover {
  background-color: red;
  color: #ffffff;
}

.icons {
  // margin-top: 3px;
  font-size: 16px;
  color: #98a3aa;
  // padding-right : 10px;
}

.expansion-active {
  background-color: #00985f;
  color: #ffffff;
  font-weight: bold;
}

.icon-button.warning {
  background-color: transparent;
  color: #000000;
}

.icon-button.warning:hover {
  background-color: red;
  color: #ffffff;
}

.icon-button {
  background-color: #00985f;
  color: #ffffff;
  width: 14px;
  height: 25px;
  background-position: 0px 0px;
  background-size: 14px 14px;
  padding: 0px;
  font-size: 14px;
  text-align: center;
  line-height: 14px;
}

.dx-button.dx-button-mode-contained.dx-button-default {
  background-color: darken($primary, 2%);
  color: #ffffff;
  font-family: Open Sans;
  &:hover {
    background-color: darken(desaturate($primary, 2%), 10%);
  }
}

.bottom-tab-section {
  display: flex;
}

.bottom-tab-section {
  height: 325px;
  //overflow: hidden;
  background-color: #ffffff;
}
.notes-badge {
  background-color: #00985f;
  color: #ffffff;
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.centered-text {
  font-size: 1.5em;
  font-weight: bold;
}

.dx-box-item-content {
  font-size: 13.5px;
}
.d-table-caption {
  display: table-caption !important;
}

.dx-gallery-wrapper {
  height: calc(100% - 0px);
}
.dx-gallery-container {
  height: 100%;
}
.dx-gallery-item {
  overflow: hidden;
  width: 100%;
  height: calc(100% - 25px);
  text-align: center;
}
.gallery-indicator-item {
  border: 1px solid #00338d;
  width: 8px;
  height: 8px;
}
.dx-gallery-indicator-item-active,
.dx-gallery-indicator-item-selected {
  width: 10px;
  height: 10px;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

.dx-treelist-container.dx-filter-menu .dx-menu-item-content .dx-icon {
  line-height: 5px;
}

.dx-treelist-container .dx-treelist-rowsview .dx-data-row td.dx-pointer-events-none,
.dx-treelist-container .dx-treelist-rowsview .dx-freespace-row td.dx-pointer-events-none,
.dx-treelist-container .dx-treelist-headers .dx-row td.dx-pointer-events-none {
  border-left: none !important;
  border-right: none !important;
}
.search-height {
  max-height: 50px;
}
.search-height2 {
  max-height: 50px;
}

.pricing-matrix-value {
  width: 6em;
  float: right;
  font-size: smaller;
  white-space: nowrap;
}

.pricing-matrix-description {
  width: 12em;
  float: left;
  font-size: smaller;
  white-space: nowrap;
}

.contact-list {
  min-height: 500px !important;
}

body.hide-spinner .ProgressSpinnerWrapper {
  display: none;
}

// NEW STUFF

.dx-button-mode-contained.dx-button-default.dx-state-focused {
  color: cyan;
}

.dx-menu-item.dx-state-hover {
  background-color: rgb(117 163 207);
  color: black;
  text-shadow: 0.5px 0.5px black;
}
.link:hover {
  text-decoration: underline;
}

.mat-tab-group.vertical-tabs > .mat-tab-header > .mat-tab-label-container > .mat-tab-list > .mat-tab-labels:hover {
  background-color: #eef2f5;
}

.spinner {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.spinner > div {
  background-color: #0043c9;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  background-color: #f5cf05;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  background-color: #bd30f2;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  background-color: #ff9626;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  background-color: #fa24a1;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

.full-height-scrollable {
  height: calc(100vh - 60px);
}

.app-card {
  border-radius: $ep-card-border-radius;
}

.dx-button {
  border-radius: 20px !important;
}
.dx-button.dx-button-mode-contained.dx-button-default {
  background: transparent linear-gradient(180deg, #060608 0%, #050607 28%, #1d1943 89%, #1c1843 100%) 0% 0% no-repeat
    padding-box;
  background-image: linear-gradient(rgb(6, 6, 8) 0%, rgb(5, 6, 7) 28%, rgb(29, 25, 67) 89%, rgb(28, 24, 67) 100%);
}

.dx-data-grid td app-button {
  padding-top: 10px;
  margin-bottom: -5px;
}
body .cssGridGeneral .dx-datagrid,
body .cssGridGeneral .dx-treelist {
  color: #222;
}

.mat-datepicker-content-container {
  background: white;
  border: 1px solid rgba(155, 155, 155, 0.4);
}

.hcicon.hc-patients-people {
  background-image: url(assets/icons/dark/Patients_People.png);

  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon-light.hc-patients-people {
  background-image: url(assets/icons/light/Patients_People.png);
  background-size: 50px 50px !important;
  background-position: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: -10px;
  padding: 0;
  margin-bottom: -14px;
}
.hcicon.hc-account-contactdetails {
  background-image: url(assets/icons/dark/Account_ContactDetails.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon-light.hc-account-contactdetails {
  background-image: url(assets/icons/light/Account_ContactDetails.png);
  background-size: 50px 50px !important;
  background-position: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: -10px;
  padding: 0;
  margin-bottom: -14px;
}
.hcicon.hc-the-ppr {
  background-image: url(assets/icons/dark/the_ppr.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon.hc-document-report {
  background-image: url(assets/icons/dark/Document_Report.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon.hc-appointment-calendar {
  background-image: url(assets/icons/dark/Appointment_Calendar.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon-light.hc-account-contactdetails {
  background-image: url(assets/icons/light/Appointment_Calendar.png);
  background-size: 50px 50px !important;
  background-position: center;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-top: -10px;
  padding: 0;
  margin-bottom: -14px;
}
.hcicon.hc-billing_invoicing {
  background-image: url(assets/icons/dark/Billing_Invoicing.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon.hc-customersupport {
  background-image: url(assets/icons/dark/CustomerSupport.png);
  background-size: 36px 30px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon.hc-email-messaging {
  background-image: url(assets/icons/dark/Email_Messaging.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}
.hcicon.hc-settings-tools {
  background-image: url(assets/icons/dark/Settings_Tools.png);
  background-size: 36px 36px !important;
  background-position: center;
  margin-top: -5px;
}

.fa-light {
  font-weight: 200!important;
}

.mr-2 { margin-right: 4px!important;}
.ml-2 { margin-left: 4px!important;}
.mr-3 { margin-right: 7px!important;}
.ml-3 { margin-left: 7px!important;}
.mr-4 { margin-right: 7px!important;}
.ml-4 { margin-left: 7px!important;}

.mx-2 { margin-left:4px!important; margin-right:4px!important;}
.mx-3 { margin-left:7px!important; margin-right:7px!important;}
.mx-4 { margin-left:7px!important; margin-right:7px!important;}

.pr-2 { padding-right: 4px!important;}
.pl-2 { padding-left: 4px!important;}
.pr-3 { padding-right: 7px!important;}
.pl-3 { padding-left: 7px!important;}
.pr-4 { padding-right: 7px!important;}
.pl-4 { padding-left: 7px!important;}

app-patient-details > .a-card > .d-flex.title.pr-3 {
  font-size:22px!important;
}
.mat-menu-panel { background: white; border:1px solid grey;}
.dx-buttongroup-item.dx-button { margin-right:2px;}
input.mat-input-element {font-weight: 600; font-size:14px;}
app-card-action-button > button { border: none;}
mat-datepicker-toggle > button { border: none;}.mat-slide-toggle-thumb { background-color: rgba(54, 81, 143, 1);}
.mat-slide-to.mat-slide-toggle-bar { background-color: lightgrey}
