<ng-container *ngIf="controlType === 'm'; else devExpress">
  <mat-form-field appearance="outline" class="w-100" *ngIf="!readonly; else Label">
    <mat-label *ngIf="caption">{{caption}}</mat-label>
    
    <input matInput [matDatepicker]="productionDate" [(ngModel)]="value" readonly [disabled]="disabled">

    <mat-datepicker-toggle matSuffix [for]="productionDate"></mat-datepicker-toggle>
    <mat-datepicker #productionDate></mat-datepicker>
  </mat-form-field>

  <mat-hint align="end" *ngIf="hint">{{hint}}</mat-hint>
</ng-container>

<ng-template #devExpress>
  <ng-container *ngIf="!readonly; else Label">
    <label *ngIf="caption">{{caption}}</label>

    <dx-date-box [displayFormat]="displayFormat" [max]="maxDate" [class.show-as-label]="showAsLabel" [min]="minDate"
      [disabled]="disabled" class="no-bg-dropdown dx-custom-button-hovered dx-dateTime-box-width" [interval]="interval"
      [acceptCustomValue]="acceptCustomValue" [placeholder]="placeholder" [(value)]="value" [type]="type"
      [isValid]="!isInvalid" [showDropDownButton]="showDropDownButton" [useMaskBehavior]="useMaskBehavior"
      [pickerType]="pickerType">
    </dx-date-box>

    <small class="font-weight-normal" *ngIf="hint && !isInvalid">{{hint}}</small>

    <small class="font-weight-normal control-error" *ngIf="isInvalid">{{error}}</small>
    
    <ng-content></ng-content>
  </ng-container>
</ng-template>

<ng-template #Label>
  <app-form-label [direction]="direction" [caption]="caption" [value]="value | date: appInfo.getDateTimeFormat"
    [hasBottomMargin]="false"></app-form-label>
</ng-template>