<app-group-admin-add-edit [data]="selectedRecord" (saved)="saved($event)"></app-group-admin-add-edit>
<app-user-link-popup [groupId]="groupId" (userLinked)="userLinked = !userLinked" #userLinkPopup></app-user-link-popup>
<app-site-link-popup [groupId]="groupId" (siteLinked)="siteLinked = !siteLinked" #siteLinkPopup></app-site-link-popup>

<app-page-wrapper [title]="group?.bureauName" [hasTabs]="true" backPagePath="/admin/groups">
    <div role="extra" class="d-flex flex-row">

    </div>

    <app-page-header-buttons>
        <app-button text="Delete" icon="far fa-trash" class="ml-auto my-auto mr-4" type="link" color="warning">
        </app-button>

        <app-button text="Edit" class="ml-3" (clicked)="editClicked()"></app-button>
    </app-page-header-buttons>

    <app-page-header-content>
        <app-group-view-header class="d-flex flex-grow-1 mb-2 mt-1" [group]="group" (editClicked)="editClicked()">
        </app-group-view-header>
    </app-page-header-content>

    <app-page-body>
        <div class="d-flex flex-row flex-grow-1">
            <mat-tab-group class="full-height left-aligned modal-tabs">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="tabHeader">Sites</span>
                    </ng-template>

                    <ng-template matTabContent>
                        <app-card class="page-wrapper-tab-card p-body-0 organisations-grid-card mr-4" [title]="'Sites'">
                            <app-sites-grid #sitesGrid class="d-flex flex-row flex-grow-1" [groupId]="groupId"
                                [updateGrid]="siteLinked" [showUnlink]="true"
                                (unlinkClicked)="unlinkSiteClicked($event)">
                            </app-sites-grid>

                            <app-card-footer>
                                <app-button text="Link Site" class="mr-4" icon="far fa-link" type="link"
                                    (clicked)="siteLinkPopup.show()">
                                </app-button>
                            </app-card-footer>
                        </app-card>
                    </ng-template>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <span class="tabHeader">Users</span>
                    </ng-template>

                    <ng-template matTabContent>
                        <app-card class="page-wrapper-tab-card p-body-0 organisations-grid-card mr-4" [title]="'Users'">
                            <app-users-grid #usersGrid class="d-flex flex-row flex-grow-1" [groupId]="groupId"
                                [updateGrid]="userLinked" [showUnlink]="true"
                                (unlinkClicked)="unlinkUserClicked($event)"></app-users-grid>

                            <app-card-footer>
                                <app-button text="Link User" class="mr-4" icon="far fa-link" type="link"
                                    (clicked)="userLinkPopup.show()">
                                </app-button>
                            </app-card-footer>
                        </app-card>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </app-page-body>
</app-page-wrapper>