.important-message{
  background-color: #FEECEC;
  color: #F59292;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
  padding: 0.85rem 0.75rem;
}

.item-selector{
  font-weight: 500;
  font-size: 14px;
}
.detailsborder{
  border: 1px;
  margin-top: 6px;
  padding: 3px;
}

.ml--16px {
  
}
