body{
  app-header{
    background-color: white;
  }
  app-medsec-header{
    background-color: white;
  }
  .header-toolbar.dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection {
    background:none;
  }
}
