.no-padding
{
  padding :0;
}

.top-row-height{
  height: 22rem;
}


.label-width{
  width: 9rem;
  margin-bottom: 0.35rem;
}

.left-margin-1{
  margin-left: 12.5%;
  height: 1px;
}

.left-margin-2{
  margin-left: 17.5%;
}

.content-height{
  min-height: 600px;   // dummy height
  flex: 1 1 auto;
  overflow: auto;
}

.height-1{
  flex: 0 0 128px;
}

.height-2{
  flex: 0 0 44px;
}

.height-3{
  flex: 0 0 64px;
}
/* DATE PICKER */
.mat-icon-button {
color: #1cb06d !important;
}
.mat-datepicker-toggle
{
  color: #1cb06d !important;
}

.datePicker
{
  opacity: 0;
}
.icons
{
  color: #ffffff;
}
