div.termsimgwrap img {width: 60px; height: 60px; float: left;}

.w-69per {
    width: 69%;
}

.h-auto {
    height: auto;
}

.float-left {
    float: left;
}

.hc-100-120px {
    height: calc(100vh - 120px);
}

.overflow-auto {
    overflow: auto;
}

.text-right {
    text-align: right;
}

.mt-10px {
    margin-top: 10px;
}

.float-left {
    float: left; 
}

.w-100 {
    width: 100%;
}

.w-30 {
    width: 30%;
}

.card {
height:720px;
padding:5px;
overflow: auto;
}