$base-font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Verdana, sans-serif;
$base-label-color: #00338D;
$base-link-color: #00338D;
$base-icon-color: #98A3AA;
$base-accent: #00338D;
$base-text-color: #2E3A40;
$base-bg: white;
$base-border-color: #DDE4E8;
$base-border-radius: 5px;
$base-success: #5cb85c;
$base-warning: #f0ad4e;
$base-danger: #d9534f;
$base-hover-color: #2E3A40;
$base-hover-bg: rgba(0, 0, 0, 0.04);
$base-focus-color: #fff;
$base-focus-bg: #00B1FF;
$badge-color: #fff;
$badge-bg: #00B1FF;
$texteditor-color: #2E3A40;
$texteditor-placeholder-color: #8da2ad;
$texteditor-bg: white;
$texteditor-filled-bg: rgba(46, 58, 64, 0.05);
$texteditor-border-color: #DDE4E8;
$texteditor-hover-border-color: rgba(0, 51, 141, 0.4);
$texteditor-focused-border-color: #00B1FF;
$base-border-radius-small: 5px;
$textbox-search-icon-color: #ffffff;
$accordion-title-color: #2E3A40;
$accordion-item-title-opened-bg: transparent;
$accordion-item-border-color: #DDE4E8;
$accordion-icon-active-color: #2E3A40;
$button-normal-color: #2E3A40;
$button-normal-bg: white;
$button-normal-border-color: #00338D;
$button-default-color: #fff;
$button-default-bg: #00338D;
$button-default-border-color: #002a74;
$button-danger-color: #fff;
$button-danger-bg: #d9534f;
$button-danger-border-color: #d43f3a;
$button-success-color: #fff;
$button-success-bg: #5cb85c;
$button-success-border-color: #4cae4c;
$button-group-normal-selected-color: white;
$button-group-normal-selected-bg: #00B1FF;
$button-group-default-selected-color: #00338D;
$button-group-default-selected-bg: rgba(0, 51, 141, 0.3);
$button-group-danger-selected-color: #d9534f;
$button-group-danger-selected-bg: rgba(217, 83, 79, 0.3);
$button-group-success-selected-color: #5cb85c;
$button-group-success-selected-bg: rgba(92, 184, 92, 0.3);
$drawer-shader-background-color: rgba(0, 0, 0, 0.5);
$fileuploader-filename-color: #00338D;
$fileuploader-falename-status-color: #5a96ff;
$fileuploader-border-color: #DDE4E8;
$gallery-indicator-bg: white;
$gallery-indicator-item-selected-bg: #00338D;
$gallery-indicator-focused-bg: #001741;
$gallery-navbutton-hover-color: rgba(0, 51, 141, 0.5);
$gallery-nav-arrow-color: #fff;
$gallery-navbutton-active-color: rgba(0, 51, 141, 0.7);
$list-group-color: #2E3A40;
$list-group-header-bg: rgba(238, 238, 238, 0.05);
$list-item-selected-bg: rgba(0, 0, 0, 0.1);
$list-item-active-bg: #00338D;
$overlay-content-bg: white;
$overlay-shader-bg: rgba(229, 227, 227, 0.8);
$base-border-radius-large: 7px;
$popup-title-bg: rgba(0, 0, 0, 0);
$overlay-focus-border-color: #DDE4E8;
$toast-color: #fff;
$toast-info-bg: #00B1FF;
$toast-warning-bg: #f0ad4e;
$toast-error-bg: #d9534f;
$toast-success-bg: #5cb85c;
$dropdowneditor-icon-color: #00338D;
$dropdowneditor-icon-active-color: #00338D;
$selectbox-list-bg: white;
$tabs-tab-color: #2E3A40;
$tabs-tab-selected-color: #2E3A40;
$tabs-tab-bg: #f7f7f7;
$tabs-tab-selected-bg: white;
$tagbox-tag-color: #2E3A40;
$tagbox-tag-bg: #dddddd;
$tagbox-tag-button-remove-bg: #aaaaaa;
$navbar-tab-color: #2E3A40;
$navbar-tab-selected-color: #2E3A40;
$navbar-tab-bg: #f7f7f7;
$navbar-tab-selected-bg: white;
$scrollable-scroll-bg: #00338D;
$scrollable-scrollbar-active-bg: #98A3AA;
$toolbar-bg: white;
$loadindicator-bg: #536974;
$loadpanel-content-bg: white;
$slider-bar-bg: #DDE4E8;
$slider-range-bg: #00338D;
$progressbar-bg: #dddddd;
$progressbar-range-bg: #00338D;
$switch-on-color: #2E3A40;
$switch-off-color: #8da2ad;
$pager-page-selected-color: #2E3A40;
$pager-page-selected-bg: #d4d4d4;
$colorbox-overlay-bg: white;
$datagrid-columnchooser-item-color: #00338D;
$datagrid-columnchooser-font-weight: normal;
$datagrid-drag-header-border-color: rgba(0, 51, 141, 0.5);
$datagrid-selection-bg: #00b1ff;
$datagrid-row-selected-border-color: #DDE4E8;
$datagrid-row-selected-color: white;
$datagrid-row-focused-color: #fff;
$datagrid-row-focused-bg: #00b1ff;
$datagrid-menu-icon-color: #f6f7f8;
$datagrid-cell-modified-border-color: rgba(92, 184, 92, 0.5);
$datagrid-row-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$datagrid-group-row-color: #899faa;
$datagrid-group-row-bg: #f7f7f7;
$datagrid-search-color: #fff;
$datagrid-spin-icon-color: #ffffff;
$datagrid-search-bg: #00338D;
$datagrid-row-error-color: #fff;
$datagrid-row-error-bg: #e89895;
$datagrid-focused-border-color: #00B1FF;
$datagrid-editor-bg: white;
$datagrid-row-alternation-bg: #edf8ff;
$datagrid-summary-color: rgba(46, 58, 64, 0.7);
$PIVOTGRID_AREA_COLOR: #899faa;
$PIVOTGRID_TOTALCOLOR: rgba(221, 221, 221, 0.2);
$PIVOTGRID_GRANDTOTALCOLOR: #f5f5f5;
$PIVOTGRID_FIELD_AREA_TEXT_COLOR: #485b64;
$pivotgrid-spin-icon-color: #ffffff;
$SCHEDULER_BASE_BORDER_COLOR: rgba(221, 228, 232, 0.6);
$SCHEDULER_ACCENT_BORDER_COLOR: #bfccd3;
$SCHEDULER_APPOINTMENT_TEXT_COLOR: #fff;
$SCHEDULER_APPOINTMENT_BASE_COLOR: #00338D;
$SCHEDULER_APPOINTMENT_START_COLOR: rgba(0, 0, 0, 0.3);
$SCHEDULER_FIRST_MONTH_BORDER_COLOR: #a0b4bf;
$SCHEDULER_WORKSPACE_FOCUSED_CELL_COLOR: #74a6ff;
$SCHEDULER_CURRENT_TIME_CELL_COLOR: #00338D;
$menu-item-expanded-color: #2E3A40;
$menu-item-selected-bg: #e6e6e6;
$calendar-header-color: #8da2ad;
$calendar-cell-other-color: #a8b8c0;
$calendar-cell-selected-bg: #00338D;
$calendar-navigator-border-color: #00338D;
$calendar-navigator-hover-border-color: #00338D;
$calendar-shevron-icon-color: #00338D;
$tooltip-color: #2E3A40;
$tooltip-bg: #f2ed8f;
$tooltip-border-color: #DDE4E8;
$numberbox-spin-icon-color: #00338D;
$tileview-color: #2E3A40;
$treeview-focused-bg: #00B1FF;
$treeview-spin-icon-color: #00338D;
$form-group-border-color: #DDE4E8;
$filterbuilder-text-color: #2E3A40;
$filterbuilder-text-focus-color: #FFF;
$filterbuilder-plus-icon-color: rgba(92, 184, 92, 0.3);
$filterbuilder-remove-icon-color: rgba(217, 83, 79, 0.3);
$filterbuilder-group-operation-color: rgba(217, 83, 79, 0.3);
$filterbuilder-item-field-color: rgba(0, 51, 141, 0.3);
$filterbuilder-item-operator-color: rgba(92, 184, 92, 0.3);
$filterbuilder-item-value-color: rgba(221, 228, 232, 0.5);
$radiogroup-checked-bg: #00338D;
$radiogroup-border-color: #DDE4E8;
$radiogroup-bg: white;
$radiobutton-active-bg: rgba(96, 96, 96, 0.2);
$radiogroup-hover-border-color: rgba(0, 51, 141, 0.4);
$radiobutton-focused-border-color: #00B1FF;
$accordion-color: #2E3A40;
$accordion-item-focused-border-color: #00B1FF;
$accordion-background-color: white;
$accordion-title-active-color: #2E3A40;
$accordion-item-hover-bg: rgba(0, 0, 0, 0.04);
$accordion-title-active-bg: rgba(96, 96, 96, 0.2);
$checkbox-border-color: #DDE4E8;
$checkbox-focused-borderd-color: #00B1FF;
$checkbox-bg: white;
$checkbox-hover-border-color: #001d50;
$checkbox-active-icon-bg: rgba(96, 96, 96, 0.2);
$base-invalid-color: #d9534f;
$base-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$list-border-color: #DDE4E8;
$list-normal-color: #2E3A40;
$list-item-hover-bg: rgba(0, 0, 0, 0.04);
$list-item-focused-selected-bg: rgba(0, 177, 255, 0.7);
$list-focused-bg: #00B1FF;
$dropdowneditor-button-hover-bg: #e6e6e6;
$dropdowneditor-button-active-bg: #b3b3b3;
$tabs-border-color: #DDE4E8;
$tabs-focused-border-color: #00B1FF;
$tabs-tab-hover-bg: white;
$navbar-tab-focused-border-color: #00B1FF;
$switch-border-color: #DDE4E8;
$switch-handle-active-bg: #001436;
$switch-hover-border-color: #00338D;
$switch-focused-border-color: #00B1FF;
$switch-container-active-bg: rgba(96, 96, 96, 0.2);
$switch-active-border-color: #00338D;
$datagrid-base-color: #2E3A40;
$datagrid-base-background-color: white;
$datagrid-border-color: #DDE4E8;
$datagrid-hover-bg: rgba(0, 0, 0, 0.04);
$datagrid-row-hovered-color: #2E3A40;
$datagrid-nodata-color: #8da2ad;
$datagrid-link-color: #00338D;
$datagrid-columnchooser-bg: white;
$treelist-base-color: #2E3A40;
$treelist-base-background-color: white;
$treelist-border-color: #DDE4E8;
$treelist-columnchooser-item-color: #00338D;
$treelist-columnchooser-font-weight: normal;
$treelist-drag-header-border-color: rgba(0, 51, 141, 0.5);
$treelist-selection-bg: #00b1ff;
$treelist-row-selected-border-color: #DDE4E8;
$treelist-row-selected-color: white;
$treelist-row-focused-color: #fff;
$treelist-row-focused-bg: #00b1ff;
$treelist-menu-icon-color: #f6f7f8;
$treelist-cell-modified-border-color: rgba(92, 184, 92, 0.5);
$treelist-row-invalid-faded-border-color: rgba(217, 83, 79, 0.4);
$treelist-search-color: #fff;
$treelist-spin-icon-color: #ffffff;
$treelist-search-bg: #00338D;
$treelist-row-error-color: #fff;
$treelist-row-error-bg: #e89895;
$treelist-focused-border-color: #00B1FF;
$treelist-editor-bg: white;
$treelist-row-alternation-bg: #edf8ff;
$treelist-summary-color: rgba(46, 58, 64, 0.7);
$treelist-hover-bg: rgba(0, 0, 0, 0.04);
$treelist-row-hovered-color: #2E3A40;
$treelist-nodata-color: #8da2ad;
$treelist-link-color: #00338D;
$treelist-columnchooser-bg: white;
$PIVOTGRID_BORDER_COLOR: #DDE4E8;
$PIVOTGRID_DATA_AREA_COLOR: #2E3A40;
$scheduler-cell-hover-bg: rgba(0, 0, 0, 0.04);
$SCHEDULER_PANEL_TEXT_COLOR: #2E3A40;
$SCHEDULER_WORKSPACE_BACKGROUND_COLOR: white;
$SCHEDULER_WORKSPACE_ACCENT_COLOR: #00338D;
$menu-popup-bg: white;
$menu-item-hover-bg: rgba(0, 0, 0, 0.04);
$menu-color: #2E3A40;
$menu-item-hovered-color: #2E3A40;
$menu-popup-border-color: #DDE4E8;
$calendar-color: #2E3A40;
$calendar-hover-bg: rgba(0, 0, 0, 0.04);
$calendar-border-color: #DDE4E8;
$calendar-cell-active-bg: rgba(96, 96, 96, 0.2);
$treeview-hover-bg: rgba(0, 0, 0, 0.04);
$treeview-border-color: #DDE4E8;
$form-field-item-color: #00338D;
$filterbuilder-bg: white;
