<dx-popup appCentralPopUpSettings [width]="'400'" [enableScroll]="true" (onInitialized)="appInfo.disableESC($event)">
    <div *dxTemplate="let data of 'popupContent'" class="popup-wrapper">
        <app-pop-up-form-title title="Confirm Cancellation" (closed)="closeForm()"></app-pop-up-form-title>

        <div class="central-popup-wrapper">
            <div class="central-popup-body" appEnterKeyFocusWrapper delay="750" [formGroup]="editForm">
                <label class="label-font mb-3">Cancel Invoice? Please provide a cancellation reason.</label>

                <app-select-box [dataSource]="reasons" formControlName="cancelledReason" caption="Reason">
                </app-select-box>
            </div>

            <!-- Footer -->
            <div class="popup-form-footer-wrapper">
                <app-button text="Back" class="ml-auto mr-3" (clicked)="closeForm()" color="grey"></app-button>

                <app-button text="Confirm" (clicked)="submitForm()" [disabled]="!editForm.valid || submitting">
                </app-button>
            </div>
        </div>
    </div>
</dx-popup>