
.insurer-wrapper{
  width: 70%;
}

.insurer-info{
  font-size: 12;
  color: hsl(0, 0%, 60%);
}

.primary-insurer{
  color: hsl(0, 0%, 30%);
  background: hsl(0, 0%, 93%);
  font-size: 11px;
  padding: 1px 9px;
  border-radius: 12px;
}
