<div id="pageMainPayee" class="d-flex flex-grow-1 flex-column page-main" (wheel)="onMouseWheel($event)">
    <div class="d-flex flex-grow-1 flex-row responsive-margins" [formGroup]="editForm">
        <div class="d-flex flex-column flex-grow-1 col-6 h-100">
            <div class="label-info-value-title sm mt-2 mb-2">Payee Provider</div>                  
                    
            <app-text-box formControlName="hcCode" caption="Code" direction="row"></app-text-box>

            <app-text-box formControlName="displayName" caption="Display Name" direction="row"
                [capitalizeEachWord]="true">
            </app-text-box>

            <app-text-box formControlName="practitionerCode" caption="Practitioner Code" direction="row">
            </app-text-box>

            <span class="horizontal-line mb-3"></span>

            <app-text-box formControlName="firstName" caption="First Name" direction="row"
                [capitalizeEachWord]="true">
            </app-text-box>

            <app-text-box formControlName="lastName" caption="Last Name" direction="row"
                [capitalizeEachWord]="true">
            </app-text-box>

            <app-select-box caption="Title" [dataSource]="titles" formControlName="title" valueExpr="title" direction="row"
            displayExpr="title" class="w-80"></app-select-box>

            <span class="horizontal-line mb-3"></span>

            <div class="d-flex flex-row a-form-group d-row w-100">
                <label>Postcode</label>

                <app-postcode-to-address #postcoderesolver formControlName="postcode"
                    (addressSelect)="postcodeResolverAddressSelectHandler($event)"
                    class="d-flex flex-row w-100">
                </app-postcode-to-address>
            </div>

            <app-text-box formControlName="address1" direction="row" caption="Address 1"
                [capitalizeEachWord]="true">
            </app-text-box>

            <app-text-box formControlName="address2" direction="row" caption="Address 2"
                [capitalizeEachWord]="true">
            </app-text-box>

            <app-text-box formControlName="address3" direction="row" caption="Address 3"
                [capitalizeEachWord]="true">
            </app-text-box>

            <app-text-box formControlName="address4" class="mb-0" direction="row" caption="Address 4"
                [capitalizeEachWord]="true"></app-text-box>
        </div>

        <div class="d-flex flex-column flex-grow-1 col-6">
            <app-button text="Get Provider" class="ml-auto mt-3" (clicked)="getProvider()"></app-button>
        </div>
    </div>
</div>

<div class="page-footer">
    <div class="horizontal-line"></div>
    <app-button class="mt-2 mb-2 page-footer-button" text="Save" (clicked)="submitForm()"
        [disabled]="submitting || editForm?.pristine"></app-button>
</div>