

.transactions
{
    height : 100%;
    overflow: scroll;

}

.content-height
{
  height: 650px;
}

.inner-content-height
{
  min-height: 150px;
}

.label-width {
  width: 15rem;
  margin-bottom: 0.35rem;
}

.top-row-content-height
{
  min-height: 17em;
}

.w-80
{
  width: 15rem;
}

.sub-header
{
  font-weight: 500;
  color: #0d0d0d;
}

.field-width {
  width: 15rem;
  margin-bottom: 0.35rem;
}
