<app-site-admin-add-edit [data]="selectedRecord" (saved)="saved($event)"></app-site-admin-add-edit>
<app-user-link-popup [siteId]="siteId" (userLinked)="userLinked = !userLinked" #userLinkPopup></app-user-link-popup>
<app-group-link-popup [siteId]="siteId" (groupLinked)="groupLinked = !groupLinked" #groupLinkPopup>
</app-group-link-popup>

<app-page-wrapper [title]="site?.siteName" [hasTabs]="true" backPagePath="/admin/sites">
  <div role="extra" class="d-flex flex-row">
    <span class="text-grey-65 text-lg pl-2" style="padding-top: 2px;">[{{site?.siteRef}}]&nbsp;</span>

    <span class="label-tag md my-auto ml-1" *ngIf="site && site.ePracticeVariant as ePracticeVariant" [ngClass]="{
        'type3-1': ePracticeVariant === 'Lite',
        'type5-1': ePracticeVariant === 'Full' || ePracticeVariant === 'Pro',
        'type1-1': ePracticeVariant === 'Basic',
        'type4-1': ePracticeVariant === 'Clinic'
      }">{{ePracticeVariant}}</span>
  </div>

  <app-page-header-buttons>
    <app-button text="Migrate Site Data" icon="far fa-download" class="ml-auto my-auto mr-4" type="link" (clicked)="migrateSiteData()"></app-button>

    <app-button text="Delete" icon="far fa-trash" class="ml-3 my-auto mr-4" type="link" color="warning"></app-button>

    <app-button text="Edit" class="ml-3" (clicked)="editClicked()"></app-button>
  </app-page-header-buttons>

  <app-page-header-content>
    <app-site-view-header class="d-flex flex-grow-1 mb-2 mt-1" [site]="site" (editClicked)="editClicked()">
    </app-site-view-header>
  </app-page-header-content>

  <app-page-body>
    <div class="d-flex flex-row flex-grow-1">
      <mat-tab-group class="full-height left-aligned modal-tabs">
        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tabHeader">Groups</span>
          </ng-template>

          <ng-template matTabContent>
            <app-card class="page-wrapper-tab-card p-body-0 organisations-grid-card mr-4">
              <app-group-grid #groupsGrid class="d-flex flex-row flex-grow-1" [siteId]="siteId"
                [updateGrid]="groupLinked" [showUnlink]="true" (unlinkClicked)="unlinkGroupClicked($event)">
              </app-group-grid>

              <app-card-footer>
                <app-button text="Link Group" class="mr-4" icon="far fa-link" type="link"
                  (clicked)="groupLinkPopup.show()">
                </app-button>
              </app-card-footer>
            </app-card>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tabHeader">Users</span>
          </ng-template>

          <ng-template matTabContent>
            <app-card class="page-wrapper-tab-card p-body-0 organisations-grid-card mr-4">
              <app-users-grid #usersGrid class="d-flex flex-row flex-grow-1" [siteId]="siteId" [updateGrid]="userLinked"
                [showUnlink]="true" (unlinkClicked)="unlinkUserClicked($event)"></app-users-grid>

              <app-card-footer>
                <app-button text="Link User" class="mr-4" icon="far fa-link" type="link"
                  (clicked)="userLinkPopup.show()">
                </app-button>
              </app-card-footer>
            </app-card>
          </ng-template>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label>
            <span class="tabHeader">Migration Log</span>
          </ng-template>

          <ng-template matTabContent>
            <app-card class="page-wrapper-tab-card p-body-0 organisations-grid-card mr-4 ">
              <app-site-migration-log class="d-flex flex-row flex-grow-1 migration-log" [migrationResponse]="migrationResponse"></app-site-migration-log>
            </app-card>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </app-page-body>
</app-page-wrapper>