.text-area-height {
  height: 116px;
}

.w-112px {
width: 112px;
min-width: 112px;
}

.pointer {
cursor: pointer;
}

.w-446px {
width: 446px;
}

.w-256px {
  width: 256px;
  }

.ml-115px {
  margin-left: 115px;
}

.snapshot {
  max-width: 100%;
  max-height: 500px;
}

.snapshot-container {
  margin: auto;  
}

.snapshot-image {
  display: block;
  max-width: 400px !important;
  max-height: 700px !important;
  margin-left: auto;
  margin-right: auto;
}