.fad{
  font-size: 32px;
  margin-bottom: 10px;
  color: #00338D !important;
  --fa-secondary-opacity: 0.4 !important;
}
.MenuText {
  font-size: 12px;
  font-weight: 600;
}
button.app-button{
  font-size: 11px;
  min-width: 3rem;
  padding: 0.5rem 0.1rem 0;
  height: auto;
  line-height: 1;

  &:hover{
    cursor: pointer;
    filter: brightness(0.8);
  }

}
