<dx-load-panel [closeOnOutsideClick]="true" [(visible)]="isLoadPanelVisible">
</dx-load-panel>

<div class="card mt-3 card-content">
    <div class="card-header">Change Password</div>

    <div class="card-body">
        <dx-validation-group>
            <div class="login-header">
                <div class="title">{{appInfo.title}}</div>

                <div>Change your password</div>
            </div>

            <div id="form-container">
                <div class="dx-field">
                    <div class="dx-field-label">Password</div>

                    <div class="dx-field-value">
                        <dx-text-box #passwordEdit name="passwordEdit" mode="password" [(value)]="password"
                            placeholder="New Password" width="200">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="Password is required">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>
                </div>

                <div class="dx-field">
                    <div class="dx-field-label">Confirm</div>

                    <div class="dx-field-value">
                        <dx-text-box mode="password" [(value)]="confirmpassword" placeholder="Confirm New Password"
                            width="200">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="Password is required">
                                </dxi-validation-rule>

                                <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                    message="Password and Confirm Password do not match"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>
                </div>

                <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>

                <div class="dx-field">
                    <div class="dx-field-label">Code</div>

                    <div class="dx-field-value">
                        <dx-text-box [(value)]="authenticatorCode" placeholder="Authenticator Code" width="200">
                            <dx-validator>
                                <dxi-validation-rule type="required" message="Authenticator code required.">
                                </dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>
                </div>

                <div class="dx-field">
                    <dx-button type="default" text="Change Password" (onClick)="onChangePasswordClick($event)"
                        width="100%">
                    </dx-button>
                </div>
            </div>
        </dx-validation-group>
    </div>
</div>