.boldtext.dx-template-wrapper {font-weight:bold!important;}

.m-5px {
    margin: 5px !important;
}

.folder {
margin-top:0px;
 height:36px; 
 background-color: transparent; 
 margin-bottom:5px; 
 margin-top:-0px;
}

.mt-0 {
    margin-top: 0 !important;
}

.h-36px {
    height: 36px !important;
}

.wm-100 {
    max-width:  100%;
}

.mt-40px {
    margin-top: 40px !important;
}

.h-100 {
    height: 100%;
}