<dx-popup appCentralPopUpSettings [width]="'400'" [height]="'550'" *ngIf="show" [enableScroll]="true"
  (onInitialized)="appInfo.disableESC($event)">
  <div *dxTemplate="let data of 'popupContent'" class="popup-wrapper">

    <app-pop-up-form-title [title]="isNew ? 'Add Waiting List Entry' : 'Edit Waiting List Entry'"
      (closed)="closeForm()"></app-pop-up-form-title>

    <div class="central-popup-wrapper">
      <div class="central-popup-body" appEnterKeyFocusWrapper delay="750" [formGroup]="editForm">
        <div class="col">
          <span class="label-info mr-2 mt-2">Patient</span>

          <app-patient-quick-search [disabled]="!isNew || fromPatient" class="w-16"
            (onValueChanged)="loadPatient($event)" [patientId]="patientId" ngDefaultControl
            (newPatient)="newPatient($event)" [title]="'Find Patient'" formControlName="patientId">
          </app-patient-quick-search>

          <app-select-box class="mt-3" caption="Type" formControlName="appointmentTypeId"
            [dataSource]="appointmentTypes" valueExpr="appointmentTypeId" displayExpr="description">
          </app-select-box>

          <app-text-box *ngIf="getFormPropertyValue('appointmentTypeId') && validateDuration()"
            formControlName="duration" inputType="number" caption="Duration (mins)" min="1" max="999" suffix="minutes">
          </app-text-box>

          <app-select-box [disabled]="!getFormPropertyValue('appointmentTypeId')" caption="Practitioner"
            [dataSource]="filteredSpecialists" formControlName="ownerId" valueExpr="id" displayExpr="displayName">
          </app-select-box>

          <app-select-box [disabled]="!getFormPropertyValue('appointmentTypeId') && !getFormPropertyValue('ownerId')"
            caption="Location" [dataSource]="filteredLocations" formControlName="locationId" valueExpr="locationId"
            displayExpr="name">
          </app-select-box>

          <app-text-area-box formControlName="notes" caption="Notes" class="text-area-standard-height">
          </app-text-area-box>

          <app-slide-toggle formControlName="priority" class="mb-0 mt-3 md-height" caption="Priority">
          </app-slide-toggle>
        </div>
      </div>
      <div class="popup-form-footer-wrapper">
        <app-button text="Close" class="ml-auto mr-3" (clicked)="closeForm()" color="grey"></app-button>

        <app-button text="Save" (clicked)="submitForm()" [disabled]="!editForm.valid"></app-button>
      </div>
    </div>
  </div>
</dx-popup>