<dx-popup appCentralPopUpSettings [width]="'380'" *ngIf="show" [enableScroll]="true"
  (onInitialized)="appInfo.disableESC($event)">
  <app-payment-age-bands-edit [data]="selectedRecord" (saved)="saved($event)" (closed)="show = false;">
  </app-payment-age-bands-edit>
</dx-popup>

<div class="d-flex flex-column flex-grow-1">
  <div class="d-flex flex-row mx-4 mt-2">
    <app-grid-search-text-box (changed)="searchBoxValue = $event; doSearch()"></app-grid-search-text-box>
  </div>

  <div class="d-flex flex-grow-1 mt-2">
    <div class="cssWidgetWrapper">
      <dx-data-grid [dataSource]="dataSource" gridWithRowLinesSettings keyExpr="this" [hoverStateEnabled]="true"
        class="cssGridGeneral padd-first-lg" (onRowDblClick)="editClicked($event)" focusedRowIndex="0"
        [columnMinWidth]="175">
        <dxo-scrolling mode="virtual"></dxo-scrolling>

        <dxi-column dataField="description" caption="Payor Type" cellTemplate="typeTemplate" width="140"
          alignment="left"></dxi-column>
        <dxi-column dataField="band1" caption="Band 1"></dxi-column>
        <dxi-column dataField="band2" caption="Band 2"></dxi-column>
        <dxi-column dataField="band3" caption="Band 3"></dxi-column>
        <dxi-column dataField="band4" caption="Band 4"></dxi-column>
        <dxi-column type="buttons" width="55">
          <dxi-button template="myCommandTemplate"></dxi-button>
        </dxi-column>

        <div *dxTemplate="let data of 'myCommandTemplate'" class="d-flex flex-row">
          <app-button icon="far fa-edit" type="link" color="grey" class="mr-2" matTooltip="Edit"
            (clicked)="editClicked(data)"></app-button>
        </div>

        <div *dxTemplate="let data of 'typeTemplate'" class="d-flex flex-row">
          <span class="label-tag md type5-1"
            [ngStyle]="{'background-color': getBackgroundColor(data)}">{{data.data.description}}</span>
        </div>
      </dx-data-grid>
    </div>
  </div>
</div>