<div class="d-flex flex-row flex-grow-1" [formGroup]="editForm">
  <app-form-section title="Payor" class="pb-0 no-end-section pr-4 payor-section" *ngIf="editForm"
    [showTitleUnderline]="true">
    <app-select-box [dataSource]="lluInvoiceTypes" formControlName="payorType" [readonly]="!isNew"
      valueExpr="InvoiceType" displayExpr="InvoiceType" caption="Type" placeholder="Type" required></app-select-box>

    <app-select-box [dataSource]="insurers" formControlName="payorId" valueExpr="insurerId" displayExpr="insurerName"
      caption="Payor" placeholder="Payor" [readonly]="!isNew"></app-select-box>
  </app-form-section>

  <div class="vertical-line line-2x ml-1 mr-4"></div>

  <app-form-section title="Payment" class="no-end-section pb-0 form-col-1/3 px-4" [showTitleUnderline]="true">
    <div class="form-section-row">
      <app-date-box class="width-1/2" caption="Date" placeholder="Date" formControlName="dateCreated"></app-date-box>

      <app-text-box formControlName="total" caption="Total" placeholder="Total" class="width-1/2" type="number">
      </app-text-box>
    </div>

    <div class="form-section-row">
      <app-select-box [dataSource]="methods" formControlName="methodId" class="width-1/2" valueExpr="id"
        displayExpr="description" caption="Method" placeholder="Method"></app-select-box>

      <app-text-box formControlName="payorRef" caption="Reference" placeholder="Reference" class="width-1/2">
      </app-text-box>
    </div>
  </app-form-section>

  <div class="vertical-line line-2x ml-3"></div>

  <app-form-section title="Other" class="no-end-section pb-0 form-col-1/3 pl-4" [showTitleUnderline]="true">
    <app-text-area-box formControlName="comments" caption="Comments" placeholder="comments" class="text-area-height">
    </app-text-area-box>
    
    <div class="horizontal-line"></div>
  </app-form-section>
</div>