<dx-popup appCentralPopUpSettings *ngIf="show" [width]="'380'" [enableScroll]="true"
  (onInitialized)="appInfo.disableESC($event)">
  <div *dxTemplate="let data of 'popupContent'" class="popup-wrapper">
    <app-pop-up-form-title [hasBorder]="true" [title]="isNew ? 'Add Telecom' : 'Edit Telecom'" (closed)="show=false">
    </app-pop-up-form-title>

    <app-contact-telecom-edit class="central-popup-wrapper" [telecomId]="telecomId" [isNew]="isNew"
      [siteId]="contact?.siteId" (saveTelecom)="saved.emit($event); show=false" [contactId]="contact?.contactId"
      [telecoms]="telecoms" [isOrganisation]="isOrganisation" (formClosed)="show=false">
    </app-contact-telecom-edit>
  </div>
</dx-popup>