.wm-1000px {
    max-width: 1000px;
}

.hc-100-140px {
    max-height:calc(100vh - 140px)
}

.header {
border:none; 
font-size: 18px;
}

.list {
    list-style-type: none;
    font-size: 16px;
}

.font-16 {
    font-size: 16px;
}