<div class="d-flex flex-row" *ngIf="user">
    <app-form-section title="User Details" class="pb-0 no-end-section header-section-1 mr-5" [showTitleUnderline]="true"
        [showInfo]="false">
        <div class="d-flex flex-row">
            <div class="d-flex flex-column">
                <app-form-label caption="User Name" [value]="user.userName"></app-form-label>

                <app-form-label caption="First Name" [value]="user.forename"></app-form-label>

                <app-form-label caption="Last Name" [value]="user.surname"></app-form-label>
            </div>

            <app-button type="link" icon="far fa-edit" color="grey" class="pt-1" (clicked)="editClicked.emit()">
            </app-button>
        </div>
    </app-form-section>

    <app-form-section title="Contact Details" class="pb-0 no-end-section header-section-2 mr-5"
        [showAddButton]="!user?.email || !user?.contactTel" [showInfo]="false" [showTitleUnderline]="true"
        (addClicked)="editClicked.emit()">
        <div class="d-flex flex-row">
            <div class="a-form-group d-col d-flex flex-column address-col">
                <label *ngIf="user?.email" class="label-value">{{user?.email}}</label>

                <label *ngIf="user?.contactTel" class="label-value">{{user?.contactTel}}</label>
            </div>

            <app-button type="link" icon="far fa-edit" *ngIf="user?.email || user?.contactTel" color="grey" class="pt-1"
                (clicked)="editClicked.emit()"></app-button>
        </div>
    </app-form-section>
</div>