<app-group-admin-add-edit [data]="selectedRecord" (saved)="saved($event)"></app-group-admin-add-edit>

<div class="cssWidgetWrapper">
    <dx-data-grid id="groupGrid" [dataSource]="dataSource" gridWithRowLinesSettings keyExpr="this" height="100%"
        [hoverStateEnabled]="true" class="cssGridGeneral padd-first-lg" (onRowDblClick)="editClicked($event)"
        [rowAlternationEnabled]="true" focusedRowIndex="0" (onFocusedRowChanged)="onFocusedRowChanged($event)"
        [focusedRowEnabled]="true"
        [columnMinWidth]="175">
        <dxo-scrolling mode="virtual"></dxo-scrolling>

        <dxi-column dataField="bureauName" caption="Group Name" cssClass="text-semiBold"></dxi-column>
        <dxi-column dataField="primaryContactName" caption="Contact Name"></dxi-column>
        <dxi-column dataField="primateContactTel" caption="Contact Number"></dxi-column>
        <dxi-column caption="Address" cellTemplate="addressTemplate"></dxi-column>
        <dxi-column dataField="active" caption="Active" cellTemplate="activeTemplate"></dxi-column>
        <dxi-column dataField="notes" caption="Notes"></dxi-column>
        <dxi-column type="buttons" [showInColumnChooser]="false" width="85">
            <dxi-button template="myCommandTemplate"></dxi-button>
        </dxi-column>

        <div *dxTemplate="let cellInfo of 'addressTemplate'">
            <div *ngIf="cellInfo.row.data.address1" class="d-flex flex-column">
                <div class="d-flex flex-row" style="flex-wrap: wrap;">
                    <span>{{cellInfo.row.data.address1}}, </span>

                    <span *ngIf="cellInfo.row.data.address2">{{cellInfo.row.data.address2}}, </span>

                    <span *ngIf="cellInfo.row.data.address3">{{cellInfo.row.data.address3}}, </span>

                    <span *ngIf="cellInfo.row.data.address4">{{cellInfo.row.data.address4}}, </span>

                    <span *ngIf="cellInfo.row.data.postcode" class="text-semiBold">{{cellInfo.row.data.postcode}}</span>
                </div>
            </div>
        </div>

        <div *dxTemplate="let cellInfo of 'activeTemplate'">
            <mat-icon *ngIf="cellInfo.value === true" fontSet="fa" fontIcon="fa-check">
            </mat-icon>
        </div>

        <div *dxTemplate="let cellInfo of 'myCommandTemplate'" class="d-flex flex-row">
            <!-- <app-button icon="far fa-trash" type="link" color="grey" class="mr-2" matTooltip="Delete"
              (clicked)="deleteClicked(cellInfo)"></app-button> -->

            <app-button icon="far fa-edit" type="link" color="grey" class="mr-2" matTooltip="Edit Group"
                (clicked)="editClicked(cellInfo)"></app-button>

            <app-button type="link" iconPosition="left" icon="far fa-unlink" color="warning" matTooltip="Unlink Group"
                *ngIf="showUnlink" (clicked)="unlinkClicked.emit(cellInfo.data)"></app-button>
        </div>
    </dx-data-grid>
</div>