.heading {
    padding-top:2px!important; 
    padding-bottom:2px!important; 
    margin-top:0px!important; 
    margin-bottom:0px!important;
}

.m-2px {
    margin:2px!important;
}

.p-4px {
    padding:4px!important;
}

.wm-100 {
    max-width: 100% !important;
}

.m-h-800px {
    max-height: 800px;
}

td[role=columnheader] {  
    text-align: left!important  
}