@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss//buttons.scss";

$left-right-padding: 1.75rem;

:host {
  > .container {
  //  max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
   // justify-content: space-between;
    background: none;
  }
  :host ::ng-deep {
    .mat-tab-group {
      flex-direction: row;
    }
    .mat-tab-header {
      border-bottom: none;
      background-color: #FAFAFA;

    }
    .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-tab-labels {
      flex-direction: column;
      margin: 0 0px;
    }
    .mat-tab-label{
      border-bottom-color: #eaeaea;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      justify-content: left;
    }
    .mat-tab-label-container {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      z-index: 1;
      border-color: hsl(0, 0%, 92%);
      border-style: solid;
      border-width: 1px;

      box-shadow: 0px 4px 4px 2px #ebebeb;
  }
    .mat-tab-label-active{
      background-color: #EEF2F5;
    }
    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-tab-body-wrapper {
      flex: 1 1 auto;
      border-bottom: 1px solid hsl(0, 0%, 93%)
    }
  }
}

.VertTab {
  border-color: #eaeaea;
  border-style: solid;
  border-width: 1px;

}

container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}

#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
//  width: 1264px;
  background-color: #ffffff;
}

#content {
 // max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  padding: 0px;
  box-sizing: border-box;
  border:1px solid rgb(206, 206, 206);
  border-top: 0px;
}

#content,
#main-content {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.dx-field-label.hc-label {
    width: 140px;
}
.dx-swatch-additional .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button), .dx-swatch-additional .dx-field-value-static {
    width: calc(100% - 140px);
}

.organisation-height
{
  height : 50%;
}


.col-form-label
{
  width : 12rem;
}
.dept-height
{
  height : 150px;
}


.field-width
{
  width : 14rem;
}

.field-width-1
{
  width : 9rem;
}

.short-label-width
{
  width : 7rem;
}
.small-field-width
{
  width : 9rem;
}
.red{
  border: solid 1px red;
}

.summary-card {
  margin: 0.75rem 0.9rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  // box-shadow: 0px 3px 7px 1px hsl(0, 0%, 93%);
  width: 28rem;

  .summary-card-body{
    border-left: 1px solid hsl(0, 0%, 93%);
    border-right: 1px solid hsl(0, 0%, 93%);
    padding: 0.6rem $left-right-padding 0.7rem $left-right-padding;
    flex: auto;

  &.has-border-bottom{
    border-bottom: 1px solid hsl(0, 0%, 93%);
  }
  }

  &.bg-blue{
    .summary-card-body{
      border-left-color: #d8d8d8;
      border-right-color: #d8d8d8;
      border-bottom: 1px solid #d8d8d8;
    }

    background-color: #f2f7fd;;
    .label-info-value{
      color: #2276AF;
    }
  }

  &.bg-red{
    .summary-card-body{
      border-left-color: hsl(355, 80%, 75%);
      border-right-color: hsl(355, 80%, 75%);
      border-bottom: 1px solid hsl(355, 80%, 75%);

    }

    .summary-card-title{
      background-color: hsl(355, 70%, 46%);
      border: 1px solid #c72331;
      color: white;
    }

    background-color: hsl(355, 60%, 94%);
    color: hsl(355, 70%, 36%);

    .label-info{
      color: hsl(355, 70%, 36%);
    }
  }

  &.width-sm{
    width: 19rem;
  }

  &.width-lg{
    width: 48.7rem;
  }

  :host ::ng-deep .app-btn.btn-link{
    height: 24px;
  }
}

.summary-card-title{
  display: flex;
  flex-direction: row;
  font-size: 0.825rem;
  font-weight: 500;
  border-radius: 4px 4px 0 0;
  padding: 0.7rem $left-right-padding;
  background-color: #e7eef4;
  color: black;
  border: 1px solid #d8d8d8;
}

.summary-card-footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: hsl(210, 75%, 97%);
  color: hsl(210, 75%, 88%);
  padding: 0.65rem 0.5rem 0.6rem 0.5rem;
  border: 1px solid #d8d8d8;
}

.bottom-height
{
  height : 50%;
}

:host {
  > .container {
  //  max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    display: flex;
   // justify-content: space-between;
    background: none;
  }
  :host ::ng-deep {
    .mat-tab-group {
      flex-direction: row;
    }
    .mat-tab-header {
      border-bottom: none;
      background-color: #FAFAFA;

    }
    .mat-tab-header-pagination {
      display: none !important;
    }
    .mat-tab-labels {
      flex-direction: column;
      margin: 0 0px;
    }
    .mat-tab-label{
      border-bottom-color: #eaeaea;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      justify-content: left;
    }
    .mat-tab-label-container {
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      z-index: 1;
      border-color: hsl(0, 0%, 92%);
      border-style: solid;
      border-width: 1px;

      box-shadow: 0px 4px 4px 2px #ebebeb;
  }
    .mat-tab-label-active{
      background-color: #EEF2F5;
    }
    .mat-ink-bar {
      height: 100%;
      left: 98% !important;
    }
    .mat-tab-body-wrapper {
      flex: 1 1 auto;
      border-bottom: 1px solid hsl(0, 0%, 93%)
    }
  }
}

.VertTab {
  border-color: #eaeaea;
  border-style: solid;
  border-width: 1px;

}
.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}

#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
//  width: 1264px;
  background-color: #ffffff;
}

#content {
 // max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  padding: 0px;
  box-sizing: border-box;
  border:1px solid rgb(206, 206, 206);
  border-top: 0px;
}

#content,
#main-content {
  &::before,
  &::after {
    content: "";
    display: table;
  }
  &::after {
    clear: both;
  }
}

.a-card{
  background-color: rgb(231 238 244 / 1);
  color: rgb(27 90 156 / 1);
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  border-radius: 0px 0px 0 0;
  font-size: 1rem;
  font-weight: 500;
  border:1px solid rgb(206, 206, 206);
  &.title{
  // background-color: rgb(231 238 244 / 1);
  // color: rgb(27 90 156 / 1);
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  border-radius: 9px 9px 0 0;
  font-size: 1rem;
  font-weight: 500;
}
  // &.compact-mode{
  //   background-color: transparent;
  //   color: hsl(0, 0%, 40%);
  //   padding-top: 0.85rem;
  //   padding-bottom: 0.65rem;
  // }
}

.badge
{
  font-weight: normal  !important;
}

.appointment-card {
  background-color: rgb(231 238 244 / 1);
  color: rgb(27 90 156 / 1);
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  min-width: 190px;
}

.column-margin
{
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

// .a-card-footer{
//   background-color: rgb(251 251 251 / 1);
//   padding-top: 1rem;
//   padding-bottom: 1rem;
//   border-radius:  0 0 9px 9px;
// }

.no-padding
{
  padding :0;
}

.top-row-height{
  min-height: 20rem;
}

.patient-Surname{
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
  // background-color: yellow;
}

.patient-Firstname{
  font-weight: bold;
  font-size: larger;
  text-transform:capitalize;
}
.label-width{
  width: 6rem;
}

.label-width-Large{
  width: 5rem;
  margin-bottom: 0.35rem;
}

.label-width-small{
  width: 2rem;
  margin-bottom: 0.35rem;
}

.VertTabHeader{
  min-width: 110px;
    height: 50px;
    font-family: "Open Sans";
    opacity: 1;
    color: #a6a6a6;
  border-color: #eaeaea;
  border-style: solid;
  border-width: 1px;
}

.sub-heading
  {
    font-weight: 800;
}

.red-cross {
color:red;
text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.green-cross
{
  color:green;text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.top-card
{
  max-height: 5rem;
  margin-top: 4px;
}

.content-height{
  height: 270px;
  flex: 1 1 auto;
  overflow: auto;
}

.height-1{
  flex: 0 0 128px;
}

.height-2{
  flex: 0 0 44px;
}

.height-3{
  flex: 0 0 64px;
}

.top-header{
  background-color: white;
  // height: 2.8rem;
  // max-height: 4.8rem;
  margin-top: 0.9rem;
}

.avatar-wrapper{
  width: 2.75rem;
  height: 2.75rem;
  display: block;
}

.header
{
  min-width: 135px !important;
}

.link:hover {
  cursor: pointer;
}

.a-card{
  background-color: rgb(231 238 244 / 1);
  color: rgb(27 90 156 / 1);
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  border-radius: 0px 0px 0 0;
  font-size: 1rem;
  font-weight: 500;
  border:1px solid rgb(206, 206, 206);
  &.title{
  // background-color: rgb(231 238 244 / 1);
  // color: rgb(27 90 156 / 1);
  padding-top: 1.1rem;
  padding-bottom: 0.9rem;
  border-radius: 9px 9px 0 0;
  font-size: 1rem;
  font-weight: 500;
}
  // &.compact-mode{
  //   background-color: transparent;
  //   color: hsl(0, 0%, 40%);
  //   padding-top: 0.85rem;
  //   padding-bottom: 0.65rem;
  // }
}

.badge
{
  font-weight: normal  !important;
}

.popup-wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 7px;
}

.w-100 {
  width: 100% !important;
}

.relative {
position: relative; 
}

.h-300px {
  height: 300px; 
}

.m-auto {
  margin: auto !important;
}