<dx-box direction="row" width="100%" class="hc-100-30px">
  <dxi-item class="rect demo-dark pt-0" [ratio]="6">
    <div class="dx-card content-block m-0 p-0 h-100">
      <dx-data-grid class="dx-card wide-card wm-100" id="formSearchGrid" height="calc(100% - 25px)" width="100%"
        [dataSource]="dataSource" [showBorders]="false" [focusedRowEnabled]="true" focusedRowIndex="0"
        [allowColumnReordering]="true" [allowColumnResizing]="true" [columnHidingEnabled]="true"
        [rowAlternationEnabled]="true" columnResizingMode="widget" (onContentReady)="onContentReady($event)"
        (onToolbarPreparing)="onToolbarPreparing($event)" [repaintChangesOnly]="true" [wordWrapEnabled]="true"
        (onFocusedRowChanged)="onFocusedRowChanged($event)">
        <dxo-remote-operations [filtering]="false" [paging]="false" [sorting]="false" [summary]="false"
          [grouping]="false" [groupPaging]="false">
        </dxo-remote-operations>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
        <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 50, 100]"></dxo-pager>
        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>
        <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
        <dxo-paging [pageSize]="50"></dxo-paging>
        <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-editing mode="row" [allowUpdating]="false" [allowDeleting]="false" [useIcons]="false"></dxo-editing>
        <dxo-grouping [contextMenuEnabled]="true"></dxo-grouping>
        <dxo-group-panel [visible]="false" [allowColumnDragging]="true"></dxo-group-panel>

        <dxi-column dataField="Category" caption="Category"></dxi-column>
        <dxi-column dataField="Organisation" caption="Organisation"></dxi-column>
        <dxi-column dataField="Description" caption="Description"></dxi-column>
        <dxi-column dataField="Active" caption="Active"></dxi-column>
        <dxi-column dataField="Notes" caption="Notes"></dxi-column>
        <dxi-column dataField="DateAdded" caption="Added" [format]="appInfo.getDateFormat" dataType="date"></dxi-column>
        <dxi-column caption="TemplateUrl" dataField="TemplateUrl"></dxi-column>
      </dx-data-grid>
    </div>
  </dxi-item>

  <dxi-item class="rect h-100 hm-50px p-0 m-0" [ratio]="showLetterPreview ? 4 : 0" height="100%">
    <div class="dx-card content-block responsive-paddings p-0 m-0 h-100"
      ngStyle.width="!showLetterPreview ? '0' : 'auto'">
      <div class="h-100 wc-100-20px" id="previewpanel">
        <dx-load-panel #loadPanel [position]="{ of: '#previewpanel' }" [visible]="false" [showIndicator]="true"
          [showPane]="true" [shading]="false" [closeOnOutsideClick]="false">
        </dx-load-panel>

        <iframe #previewFrame [src]="safePreviewFilename" width='100%' height='100%' frameborder='0'
          class="overflow-hidden"></iframe>
      </div>
    </div>
  </dxi-item>
</dx-box>