.block {
    display: block;
}

.text-center {
    text-align: center;
}

.red-flag {
    color: red;
    margin-top: -15px;
    display: inline-flex;
}

.orange-flag {
    color: orange;
    margin-top: -15px;
    display: inline-flex;
}

.green-flag {
    color: green;
    margin-top: -15px;
    display: inline-flex;
}