.dx-toolbar-item {
  display: table-cell;
  padding: 0 5px;
  vertical-align: top!important;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.ClearButton.dx-toolbar-item {
  display: table-cell;
  padding: 0 5px;
  vertical-align: top!important;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
