<dx-popup appCentralPopUpSettings *ngIf="showBankDetails" [width]="'480'" [enableScroll]="true"
  (onInitialized)="appInfo.disableESC($event)">
  <div *dxTemplate="let data of 'popupContent'" class="popup-wrapper">
    <app-pop-up-form-title [hasBorder]="true" [title]="'Bank Details'" (closed)="showBankDetails = false">
    </app-pop-up-form-title>

    <app-patient-zone-bank-details [siteId]="medsecId" [practitionerSelected]="practitionerSelected"
      (formClosed)="showBankDetails = false" (bankDetailsAdded)="showBankDetails = false">
    </app-patient-zone-bank-details>
  </div>
</dx-popup>

<div class="central-popup-body  responsive-paddings">
  <app-patientzone-error-section [errors]="errors" *ngIf="errors?.length > 0"></app-patientzone-error-section>

  <div class="page-header">Select Practitioners</div>

  <div class="d-flex flex-row mr-2 flex-grow-1 mt-1 align-items-center">
    <table class="a-table">
      <thead>
        <tr>
          <th class="mr-2"></th>

          <th class="mr-2 w-15r"> Practioner</th>

          <th class="text-center w-15r"> Which bank account should we use</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="mr-2">
            <dx-check-box (onValueChanged)="selectAll($event)"></dx-check-box>
          </td>

          <td><span class="label-info-value light">Select All</span></td>

          <td></td>
        </tr>

        <tr *ngFor="let item of sites;index as i ">
          <td>
            <dx-check-box [(value)]="item.isSelected" class="mr-2" [disabled]="item.isPatientZoneEnabled">
            </dx-check-box>
          </td>

          <td>
            <span class="label-info-value light mr-1">
              {{item.displayName}}
            </span>
          </td>

          <td>
            <ng-container *ngIf="item.isPatientZoneEnabled">
              <span class="label-info-value light">Already registered with patientzone</span>
            </ng-container>

            <ng-container *ngIf="!item.isPatientZoneEnabled">
              <dx-radio-group [items]="bankAcounts" [(value)]="item.useOwnBank"
                (onValueChanged)="onValueChanged($event, item)" layout="horizontal">
              </dx-radio-group>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="popup-form-footer-wrapper">
  <app-button text="Close" (clicked)="close()" class="ml-auto mr-3" color="grey"></app-button>

  <app-button text="Save" (clicked)="validate()"></app-button>
</div>