<app-med-sec-site-selector (onSelected)="siteSelectorHandler()"></app-med-sec-site-selector>

<div class="cssWidgetWrapper disable-select">
    <dx-data-grid #referrersGrid gridWithRowLinesSettings appGridWithStateStore gridId="patientGrid1V1"
        [dataSource]="dataSource" [focusedRowEnabled]="true" focusedRowIndex="0" [allowColumnReordering]="true"
        [allowColumnResizing]="true" [columnHidingEnabled]="true" [showColumnLines]="true" [columnMinWidth]="125"
        [rowAlternationEnabled]="true" columnResizingMode="widget" (onToolbarPreparing)="onToolbarPreparing($event)"
        (onOptionChanged)="onOptionChanged($event)" (onFocusedRowChanged)="onFocusedRowChanged($event)"
        (stateSelected)="stateSelectedHandler($event)" (openSiteSelectorModel)="openSiteSelectorModelHandler()"
        [remoteOperations]="false">
        <dxo-paging [pageSize]="30"> </dxo-paging>
        <dxo-export [enabled]="true" [fileName]="fileName" [allowExportSelectedData]="false"></dxo-export>
        <dxo-selection mode="single"></dxo-selection>
        <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
        <dxo-search-panel [visible]="true" [width]="160" placeholder="Search...">
        </dxo-search-panel>
        <dxo-load-panel [enabled]="true"></dxo-load-panel>
        <dxo-column-chooser [enabled]="true" mode="select" [height]="550">
        </dxo-column-chooser>
        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-grouping [contextMenuEnabled]="true">
        </dxo-grouping>
        <dxo-group-panel [visible]="true" [allowColumnDragging]="true">
        </dxo-group-panel>
        <dxo-header-filter [visible]="true"></dxo-header-filter>
        <dxo-pager [visible]="true" [allowedPageSizes]="false" [showPageSizeSelector]="true" [showInfo]="true"
            [showNavigationButtons]="true">
        </dxo-pager>
        <dxi-column dataField="siteName" [allowSorting]="true"
            [visible]="isMedSec && !this.userStore.hasSelectedASite()" caption="Site"></dxi-column>
        <dxi-column dataField="patientName" caption="Patient" [allowFiltering]="true" [allowSorting]="true">
        </dxi-column>
        <dxi-column dataField="birthDate" caption="DOB" dataType="MyDate" [visible]="false" [allowFiltering]="true"
            dataType="date" format="shortDate">
        </dxi-column>
        <dxi-column [calculateCellValue]="calculateAge" caption="Age" [width]="100" [allowGrouping]="true"
            [allowSorting]="true" [allowFiltering]="true" alignment="center">
        </dxi-column>
        <dxi-column dataField="theirRef" caption="Their Ref"> </dxi-column>
        <dxi-column dataField="contactName" caption="Referrer" [minWidth]="150" [allowFiltering]="true"
            [allowGrouping]="true" [allowSorting]="true">
        </dxi-column>
        <dxi-column dataField="referrerType" caption="Referrer Type" [allowFiltering]="true" [allowGrouping]="true"
            [allowSorting]="true">
        </dxi-column>
        <dxo-summary>
            <dxi-total-item column="patientName" summaryType="count" displayFormat="{0}" valueFormat="fixedPoint {2}">
                <dxo-format [precision]="2">
                </dxo-format>
            </dxi-total-item>
        </dxo-summary>
    </dx-data-grid>
</div>