.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0.15em 0 !important;
}


.dx-overlay-content .dx-popup-content {
  background-color: whitesmoke !important;
    border-width: 0px;
}


.dx-popup-wrapper > .dx-overlay-content {
  background: whitesmoke !important;
 }


.field-width
{
  width : 14rem;
}

.field-width-1
{
  width : 9rem;
}

.short-label-width
{
  width : 10rem;
}
.small-field-width
{
  width : 9rem;
}
