<div class="app-card d-flex flex-column">
  <div class="page-header responsive-margins">Integration Service</div>

  <div class="d-flex  flex-grow-1 responsive-margins row-height">
    <mat-tab-group class="full-height">
      <mat-tab class="header">
        <ng-template mat-tab-label>
          <span class="tabHeader">patientzone</span>
        </ng-template>

        <div class="d-flex flex-grow-1 h-100">
          <app-patientzone-registration [isMedsec]="false"></app-patientzone-registration>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>