<dx-popup appCentralPopUpSettings [width]="'380'" *ngIf="show" [enableScroll]="true">
  <div *dxTemplate="let data of 'popupContent'" class="popup-wrapper">
    <app-pop-up-form-title [title]="title" (closed)="closeForm()"></app-pop-up-form-title>

    <div class="central-popup-wrapper">
      <div class="central-popup-body" appEnterKeyFocusWrapper delay="750" [formGroup]="editForm">
        <app-text-area-box formControlName="notes" direction="row" caption="Notes" placeholder="Notes"
          class="text-area-standard-height"></app-text-area-box>

        <app-slide-toggle formControlName="priority" class="mb-0 mt-3 md-height" direction="row" caption="Priority">
        </app-slide-toggle>
      </div>

      <div class="popup-form-footer-wrapper">
        <app-button text="Close" class="ml-auto mr-3" (clicked)="closeForm()" color="grey"></app-button>

        <app-button text="Save" (clicked)="submitForm()" [disabled]="!editForm.valid"></app-button>
      </div>
    </div>
  </div>
</dx-popup>